<h1 class="title-component"></h1>
<div class="search-container-get clearfix" id="search-container-{{$key}}">
    <div class="search-img-container search-item l-5" id="search-img-container-{{$key}}">
        <img id="search-img-container-img-{{$key}}" class="img-full invisible-component" src="">
    </div>
    <div class="l-5" style="margin-top: 0;">
        <div class="search-item search-context-text" id="search-context-text-top-{{$key}}" style="margin-top: 0;">
            <h1 id="search-context-text-item-top-{{$key}}"></h1>
        </div>
        <div class="search-item search-context-text" id="search-context-text-bottom-{{$key}}">
            <h1 id="search-context-text-item-bottom-{{$key}}"></h1>
        </div>
    </div>
    <div class="search-item l-5 search-context-text search-item-action" id="search-item-action-person-{{$key}}">
        <a href="" id="search-item-action-person-a-{{$key}}"></a>
    </div>
</div> 