<input type="checkbox" checked name="" id="target-single-page-component-denunc" class="invisible">
<div class="pop-up" id="single-page-container-denunc">
    <header class="header-component-pop-up-react invisible-component" id="header-component-pop-up-react">
        <div class="clearfix">
            <img class="img-20 l-5 back_component-pop-up-react" id="back_component-pop-up-react-post" src="css/uicons/back_component.png">
            <h1 class="title-component l-5">Padrões da Comunidade</h1>
            <img class="img-20 r-5 back_component-pop-up-react" id="back_component-pop-up-react-denunc" style="margin-right: 10px;" src="css/uicons/close.png">
        </div>
    </header>
    <nav class="list-pop-up" id="list-pop-up-id">
        <ul>
            <li>Fechar</li>
            <li class="nudez-content-post">Video Imoral</li>
            <li>Video Imoral</li>
            <li>Video Imoral</li>
            <li>Video Imoral</li>            
        </ul>
    </nav>
    <div class="response-denunc-pop-up invisible-component" id="response-denunc-pop-up-id-content-post">
        <p class="alert-p">Esse conteúdo será removido somente se desrespeita as nossas normas. Conteúdos que têm como objetivo enganar as pessoas, partilhar nudez, ou algum tipo de actividade ilegal, é removido da plataforma.</p>
        <div class="btn-send-denunc">
            Enviar
        </div>
    </div>
</div>