<div class="search-container-get-page clearfix">
    <div class="search-img-container search-item l-5 search-container-get-page-1-page">
        <img class="img-full center circle invisible-component search-container-get-page-2-page" src="">
    </div>
    <div class="l-5" style="margin-top: 0;">
        <div class="search-item search-context-text search-container-get-page-3-page search-context-text-page">
            <h1 class="search-container-get-page-4-page"></h1>
        </div>
        <div class="search-item search-context-text search-container-get-page-5-page invisible-component"  style="margin-top: 0;">
            <h1 class="search-container-get-page-6-page"></h1>
        </div>
    </div>
    <div class="search-item l-5 search-context-text search-item-action search-container-get-page-7-page invisible-component">
        <a href="" class= "search-container-get-page-8-page"></a>
    </div>
</div> 