<div class="search-container-get clearfix">
    <div class="search-img-container search-item l-5 search-container-get-1">
        <img class="img-full center circle invisible-component search-container-get-2" src="">
    </div>
    <div class="l-5" style="margin-top: 0;">
        <div class="search-item search-context-text search-container-get-3">
            <h1 class="search-container-get-4"></h1>
        </div>
        <div class="search-item search-context-text search-container-get-5" style="margin-top: 0;">
            <h1 class="search-container-get-6"></h1>
        </div>
    </div>
    <div class="search-item l-5 search-context-text search-item-action search-container-get-7 invisible-component">
        <a href="" class= "search-container-get-8"></a>
    </div>
</div> 