@charset 'utf-8';

#more-option-0:checked ~ ul {
	display: block;
}
#more-option-1:checked ~ ul {
	display: block;
}
#more-option-2:checked ~ ul {
	display: block;
}
#more-option-3:checked ~ ul {
	display: block;
}
#more-option-4:checked ~ ul {
	display: block;
}
#more-option-5:checked ~ ul {
	display: block;
}
#more-option-6:checked ~ ul {
	display: block;
}
#more-option-7:checked ~ ul {
	display: block;
}
#more-option-8:checked ~ ul {
	display: block;
}
#more-option-9:checked ~ ul {
	display: block;
}
#more-option-10:checked ~ ul {
	display: block;
}
#more-option-11:checked ~ ul {
	display: block;
}
#more-option-12:checked ~ ul {
	display: block;
}
#more-option-13:checked ~ ul {
	display: block;
}
#more-option-14:checked ~ ul {
	display: block;
}
#more-option-15:checked ~ ul {
	display: block;
}
#more-option-16:checked ~ ul {
	display: block;
}
#more-option-17:checked ~ ul {
	display: block;
}
#more-option-18:checked ~ ul {
	display: block;
}
#more-option-19:checked ~ ul {
	display: block;
}
#more-option-20:checked ~ ul {
	display: block;
}
#more-option-21:checked ~ ul {
	display: block;
}
#more-option-22:checked ~ ul {
	display: block;
}
#more-option-23:checked ~ ul {
	display: block;
}
#more-option-24:checked ~ ul {
	display: block;
}
#more-option-25:checked ~ ul {
	display: block;
}
#more-option-26:checked ~ ul {
	display: block;
}
#more-option-27:checked ~ ul {
	display: block;
}
#more-option-28:checked ~ ul {
	display: block;
}
#more-option-29:checked ~ ul {
	display: block;
}
#more-option-30:checked ~ ul {
	display: block;
}
#more-option-31:checked ~ ul {
	display: block;
}
#more-option-32:checked ~ ul {
	display: block;
}
#more-option-33:checked ~ ul {
	display: block;
}
#more-option-34:checked ~ ul {
	display: block;
}
#more-option-35:checked ~ ul {
	display: block;
}
#more-option-36:checked ~ ul {
	display: block;
}
#more-option-37:checked ~ ul {
	display: block;
}
#more-option-38:checked ~ ul {
	display: block;
}
#more-option-39:checked ~ ul {
	display: block;
}
#more-option-40:checked ~ ul {
	display: block;
}
#more-option-40:checked ~ ul {
	display: block;
}
#more-option-40:checked ~ ul {
	display: block;
}
#more-option-40:checked ~ ul {
	display: block;
}
#more-option-40:checked ~ ul {
	display: block;
}
#more-option-41:checked ~ ul {
	display: block;
}
#more-option-42:checked ~ ul {
	display: block;
}
#more-option-43:checked ~ ul {
	display: block;
}
#more-option-44:checked ~ ul {
	display: block;
}
#more-option-45:checked ~ ul {
	display: block;
}
#more-option-46:checked ~ ul {
	display: block;
}
#more-option-47:checked ~ ul {
	display: block;
}
#more-option-48:checked ~ ul {
	display: block;
}
#more-option-49:checked ~ ul {
	display: block;
}
#more-option-50:checked ~ ul {
	display: block;
}
#more-option-51:checked ~ ul {
	display: block;
}
#more-option-52:checked ~ ul {
	display: block;
}
#more-option-53:checked ~ ul {
	display: block;
}
#more-option-54:checked ~ ul {
	display: block;
}
#more-option-55:checked ~ ul {
	display: block;
}
#more-option-56:checked ~ ul {
	display: block;
}
#more-option-57:checked ~ ul {
	display: block;
}
#more-option-58:checked ~ ul {
	display: block;
}
#more-option-59:checked ~ ul {
	display: block;
}
#more-option-60:checked ~ ul {
	display: block;
}
#more-option-61:checked ~ ul {
	display: block;
}
#more-option-62:checked ~ ul {
	display: block;
}
#more-option-63:checked ~ ul {
	display: block;
}
#more-option-64:checked ~ ul {
	display: block;
}
#more-option-65:checked ~ ul {
	display: block;
}
#more-option-66:checked ~ ul {
	display: block;
}
#more-option-67:checked ~ ul {
	display: block;
}
#more-option-68:checked ~ ul {
	display: block;
}
#more-option-69:checked ~ ul {
	display: block;
}
#more-option-70:checked ~ ul {
	display: block;
}
#more-option-71:checked ~ ul {
	display: block;
}
#more-option-72:checked ~ ul {
	display: block;
}
#more-option-73:checked ~ ul {
	display: block;
}
#more-option-74:checked ~ ul {
	display: block;
}
#more-option-75:checked ~ ul {
	display: block;
}
#more-option-76:checked ~ ul {
	display: block;
}
#more-option-77:checked ~ ul {
	display: block;
}
#more-option-78:checked ~ ul {
	display: block;
}
#more-option-79:checked ~ ul {
	display: block;
}
#more-option-80:checked ~ ul {
	display: block;
}
#more-option-81:checked ~ ul {
	display: block;
}
#more-option-82:checked ~ ul {
	display: block;
}
#more-option-83:checked ~ ul {
	display: block;
}
#more-option-84:checked ~ ul {
	display: block;
}
#more-option-85:checked ~ ul {
	display: block;
}
#more-option-86:checked ~ ul {
	display: block;
}
#more-option-87:checked ~ ul {
	display: block;
}
#more-option-88:checked ~ ul {
	display: block;
}
#more-option-89:checked ~ ul {
	display: block;
}
#more-option-90:checked ~ ul {
	display: block;
}
#more-option-91:checked ~ ul {
	display: block;
}
#more-option-92:checked ~ ul {
	display: block;
}
#more-option-93:checked ~ ul {
	display: block;
}
#more-option-94:checked ~ ul {
	display: block;
}
#more-option-95:checked ~ ul {
	display: block;
}
#more-option-96:checked ~ ul {
	display: block;
}
#more-option-97:checked ~ ul {
	display: block;
}
#more-option-98:checked ~ ul {
	display: block;
}
#more-option-99:checked ~ ul {
	display: block;
}
#more-option-100:checked ~ ul {
	display: block;
}
#more-option-101:checked ~ ul {
	display: block;
}
#more-option-102:checked ~ ul {
	display: block;
}
#more-option-103:checked ~ ul {
	display: block;
}
#more-option-104:checked ~ ul {
	display: block;
}
#more-option-105:checked ~ ul {
	display: block;
}
#more-option-106:checked ~ ul {
	display: block;
}
#more-option-107:checked ~ ul {
	display: block;
}
#more-option-108:checked ~ ul {
	display: block;
}
#more-option-109:checked ~ ul {
	display: block;
}
#more-option-110:checked ~ ul {
	display: block;
}
#more-option-111:checked ~ ul {
	display: block;
}
#more-option-112:checked ~ ul {
	display: block;
}
#more-option-113:checked ~ ul {
	display: block;
}
#more-option-114:checked ~ ul {
	display: block;
}
#more-option-115:checked ~ ul {
	display: block;
}
#more-option-116:checked ~ ul {
	display: block;
}
#more-option-117:checked ~ ul {
	display: block;
}
#more-option-118:checked ~ ul {
	display: block;
}
#more-option-119:checked ~ ul {
	display: block;
}
#more-option-120:checked ~ ul {
	display: block;
}
#more-option-121:checked ~ ul {
	display: block;
}
#more-option-122:checked ~ ul {
	display: block;
}
#more-option-123:checked ~ ul {
	display: block;
}
#more-option-124:checked ~ ul {
	display: block;
}
#more-option-125:checked ~ ul {
	display: block;
}
#more-option-126:checked ~ ul {
	display: block;
}
#more-option-127:checked ~ ul {
	display: block;
}
#more-option-128:checked ~ ul {
	display: block;
}
#more-option-129:checked ~ ul {
	display: block;
}
#more-option-130:checked ~ ul {
	display: block;
}
#more-option-131:checked ~ ul {
	display: block;
}
#more-option-132:checked ~ ul {
	display: block;
}
#more-option-133:checked ~ ul {
	display: block;
}
#more-option-134:checked ~ ul {
	display: block;
}
#more-option-135:checked ~ ul {
	display: block;
}
#more-option-136:checked ~ ul {
	display: block;
}
#more-option-137:checked ~ ul {
	display: block;
}
#more-option-138:checked ~ ul {
	display: block;
}
#more-option-139:checked ~ ul {
	display: block;
}
#more-option-140:checked ~ ul {
	display: block;
}
#more-option-141:checked ~ ul {
	display: block;
}
#more-option-142:checked ~ ul {
	display: block;
}
#more-option-143:checked ~ ul {
	display: block;
}
#more-option-144:checked ~ ul {
	display: block;
}
#more-option-145:checked ~ ul {
	display: block;
}
#more-option-146:checked ~ ul {
	display: block;
}
#more-option-147:checked ~ ul {
	display: block;
}
#more-option-148:checked ~ ul {
	display: block;
}
#more-option-149:checked ~ ul {
	display: block;
}
#more-option-150:checked ~ ul {
	display: block;
}
#more-option-151:checked ~ ul {
	display: block;
}
#more-option-152:checked ~ ul {
	display: block;
}
#more-option-153:checked ~ ul {
	display: block;
}
#more-option-154:checked ~ ul {
	display: block;
}
#more-option-155:checked ~ ul {
	display: block;
}
#more-option-156:checked ~ ul {
	display: block;
}
#more-option-157:checked ~ ul {
	display: block;
}
#more-option-158:checked ~ ul {
	display: block;
}
#more-option-159:checked ~ ul {
	display: block;
}
#more-option-160:checked ~ ul {
	display: block;
}
#more-option-161:checked ~ ul {
	display: block;
}
#more-option-162:checked ~ ul {
	display: block;
}
#more-option-163:checked ~ ul {
	display: block;
}
#more-option-164:checked ~ ul {
	display: block;
}
#more-option-165:checked ~ ul {
	display: block;
}
#more-option-166:checked ~ ul {
	display: block;
}
#more-option-167:checked ~ ul {
	display: block;
}
#more-option-168:checked ~ ul {
	display: block;
}
#more-option-169:checked ~ ul {
	display: block;
}
#more-option-170:checked ~ ul {
	display: block;
}
#more-option-notify:checked ~ ul {
	display: block;
}
@media screen and (min-width: 570px) {
	.fa-option-mobile-lg-hide {
		display: none;
	}
}
@media screen and (max-width: 570px) {
	#more-option-notify:checked ~ ul.noti-card-first {
	    display: none;
	}
	.fa-option-mobile-hide {
		display: none;
	}
}
#target-profile-cover:checked ~ .pop-up#cover-profile,
#more-option-target-profile:checked ~  #more-option-profile-component,
#target-alert-make-tassumir:checked ~ #alert-make-money-tassumir,
#target-loading-app:checked ~ #container-loading-app {
	opacity: 1;
    z-index: 1001;
}
#add-post-target:checked ~ #add-post-container,
#target-loading-app-load:checked ~ #container-loading-app-load {
	opacity: 1;
    z-index: 1003;
}
#target-profile-cover-post:checked ~ #cover-profile-post {
	opacity: 1;
    z-index: 1001;
}
#target-invited-relationship:checked ~ #invited-relationship {
	opacity: 1;
    z-index: 1001;
}
#relationship-type-target:checked ~  .relationship-type-all {
	display: block;
}
#target-profile-cover-page:checked ~ #cover-profile-page {
	opacity: 1;
    z-index: 1001;
}
#options-invited-pop-up:checked ~ #invited-relationship-response {
	opacity: 1;
    z-index: 1001;
}
#target-proof:checked ~ #cover-proof,
#delete-page-target:checked ~ #delete-page-container,
#target-alert-post-denied:checked ~ #alert-denied-post,
#target-alert-tassumir:checked ~ #relationship-container-invited,
#target-alert-info:checked ~ #target-alert-info-container,
#target-profile-cover-full:checked ~ #cover-profile-full-container,
#target-option-post:checked ~ #option-post-full-container,
#options-edit-pop-up:checked ~ #edit-pop-up {
	opacity: 1;
    z-index: 1001;
}
#choose-type-relationship:checked ~ #relationship-assumir-type-container {
	opacity: 1;
    z-index: 1003;
}
#search-lg-home:checked ~ .container-search-home {
	display: block;
	
}