@charset 'utf-08';
.profille-img-single-page-comment {
	width: 32px;
	height: 32px;
	position: relative;
}
.target-single-page-component {
	display: block;
	margin-bottom: 0;
}
.icon-back-container.icon-back-container-label {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0;
}
#single-page-container-body {
}
#single-page-container-body-container {
	overflow-y: auto;
	max-height: 93%;
}
.header-component-single-page {
    margin-bottom: 0;
    max-width: 600px;
    margin: auto;
}