@charset 'utf-8';
@media screen and (max-width: 1150px) {
	.aside {
		display: none;
	}
}
@media screen and (max-width: 1240px) {
	#main-login-container {
	    margin: auto;
	    margin-left: 50px;
	}
}
@media screen and (max-width: 1100px) {
	.cover-login {
	    width: 380px;
	    height: 400px;
	    margin-left: 0px;
	    margin-right: 40px;
	}
	#main-login-container {
	    width: 760px;
	    margin-left: 15px;
	}
}
@media screen and (max-width: 968px){
	.cover-login {
		width: 310px;
		height: 380px;
	    margin-right: 20px;
	}
	#main-login-container {
	    width: 665px;
		margin-left: 15px;
	}
}
@media screen and (max-width: 540px) {
	#statistics-profile-page-component-container-lg-1 {
		width: 254px;
	}
	.card-post p {
		margin-left: 0;
	}
	#edit-pop-up .page-identify h1 {
	    margin-top: 15px;
	}
}
@media screen and (max-width: 540px) {
	#title-login {
		display: block;
	}
	.main {
		width: 100%;
		margin-top: 6px;
		margin-top: 0;
	}
	#img-cover-profile-page {
	    margin: auto;
	    float: none;
	    width: 120px;
	    height: 120px;
	}
	#edit-pop-up .pop-up-component {
		width: 90%;
	}
	#edit-pop-up .pop-up-component-header-default {
		width: 97%;
	}
	.lg-invisible-user-name {
		display: none;
	}
	.option-profile-menu ul {
	    /*background-color: #242526;*/
	}
	.card {
		border: none;
	}
	.menu-header {
	    padding-right: 0px;
	}
	.post header .first-component .page-cover {
	    width: 40px;
	    height: 40px;
	}
	.post header .first-component .page-identify h1 {
	    margin-top: 12px;
	}
	.page-identify {
	    margin-top: 0px;
	}
	.interaction-user {
	    justify-content: right;
	}
	.video-post {
	    height: 360px;
	}
	.post-cover {
	    height: 540px;
	}
	.option-profile-menu {
	    overflow-x: auto;
	    /*background-color: #242526;*/
	}
	.img-profile-page {
	    width: 90px;
	    height: 90px;
	}
	.edit-profile {
		display: none;
	}
	.edit-profile.edit-page-btn-alter {
		display: block;
	}
	.edit-profile-mobile {
		display: block;
		margin-top: 10px;
		padding: 10px;
	}
	.edit-page-container {
		display: none;
	}
	.edit-page-container-mobile {
		display: block;
	}
	#statistics-profile-page-component-mobile {
		display: block;
	}
	.statistics-profile-page-identify h1 {
	    font-size: 20px;
	    font-weight: bolder;
	}
	.user-account, .search-lg,
	.mobile-hidden, .menu-header ul li.mobile-hidden,
	.ul-left li.mobile-hidden {
		display: none;
	}
	.ul-left {
	    margin-left: -30px;
	}
	.title h1 {
	    font-size: 30px;
	}
	.card.stories-about-talking {
		margin-top: 0px;
	}
	.menu-header ul li {
	    display: block;
	    margin-left: 5px;
	}
	.menu-header ul {
	    margin-left: -40px;
	    margin-bottom: 0;
	}
	.post {
	    width: 100%;
	}
	.card-post p {
	    padding: 5px 10px;
	}
	.card {
		border-radius: 0px;
		margin-top: 5px;
	}
	.user-tassumir {
	    margin-right: 0px;
	}
	.row {
		/*margin-left: 0;
		margin-right: 0;*/
	}
	.fa-24 {
	    font-size: 22px;
	}
	.stories-about-talking nav ul li {
	    /*height: 80px;
    	width: 80px;
	    border-radius: 50%;*/
	}
	.headline {
		display: none;
	    border-bottom-right-radius: 50px;
	    border-bottom-left-radius: 50px;
	}
	.stories-about-talking nav ul li .img-back-stories, 
	.stories-about-talking nav ul li {
		/*border-radius: 50%;    
		border: 1px solid #800080;*/
	}
	.more-option-post {
	    right: 10%;
	}
	.stories-about-talking nav {
		overflow: auto;
		background-color: #242526;
	}
	.mobile-header-icon {
		margin-top: 10px;
	}
	.ul-left li {
		margin-top: 10px;
	}
	.interaction-user ul {
	    width: 90%;
	    padding-left: 0;
	    justify-content: space-around;
	}
	.interaction-user .content-button a h2 {
	    font-size: 11px;
	}
	.interaction-user .content-button {
	    width: 95px;
	}
	.comment-send {
		display: none;
	}
	.interaction-user {
	    border-bottom: none;
	}
	.stories-about-talking nav ul {
	    /*width: 390px;
	    width: 520px;*/
	    margin-bottom: 0;
	    padding-left: 25px;
	}
	.stories-about-talking header h1 {
	    font-size: 14px;
	}
	.stories-about-talking nav ul li:nth-child(1) {
	    
	}
	.stories-about-talking nav ul li .img-back-stories {
	        width: 100%;
		    height: 100%;
		    border: 2px solid #000;
		    border-radius: 50%;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	}
	.stories-about-talking nav ul {
	    width: 470px;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	    position: relative;
	    margin-top: 0;
	    margin-left: 0;
	    /*padding-left: 10px;
	    padding-top: 10px;*/
	}
	.img-profile-user-married img {
	    width: 60px;
	    height: 60px;
	}
	.profile-name {
	    font-size: 15px;
	    width: 170px;
	    padding-left: 10px;
	}
	.inform-profile {
	    margin-left: 20px;
	}
	.profile-follow {
		padding-left: 10px;
	}
	.img-profile-user-married {
	    width: 60px;
	}
	.identify-statist-profile-page {
	    width: 150px;
	}
	.img-profile-user-married h3 {
	    width: 54px;
	}
	.identify-statist-profile-page ul {
		padding-left: 0px;
	}
	.identify-statist-profile-page ul li {
	    width: 75px;
	}
	.statistics-profile h2 {
	    font-size: 13px;
	}
	.add-edit-profile {
	    bottom: 6px;
	    right: 2px;
	}
	.stories-about-talking nav ul li {
	    width: 90px;
	    height: 90px;
	    border-radius: 50%;
	    border: 4px solid transparent;
		/*border-image: linear-gradient(45deg, #800080, #d5cf12, #9400d3, #d708d7);
		border-image-slice: 1;*/
		padding: 7px;
		background-image: linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -webkit-linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -o-linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -moz-linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -ms-linear-gradient(45deg, #d5cf12, #d708d7);
	}
	.btn-a-default {
	    display: block;
	    width: 100%;
	    background: transparent;
    	border: 1px solid #343a40;
    	padding: 10px;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	}
	#img-profile-container {
	    width: 100px;
	    height: 100px;
	    position: relative;
	    margin-top: 0;
	    margin-left: 0;
	    /*padding-left: 10px;
	    padding-top: 10px;*/
	    margin: auto;
	}
	.border-grad {
		border: 2px solid transparent;
		background-image: linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -webkit-linear-gradient(45deg, #d5cf12, #d708d7);
	}
	.img-profile-user-married img {
	    width: 60px;
	    height: 60px;
	}
	.profile-name {
		margin-top: 10px;
	    font-size: 18px;
	    width: 170px;
	    padding-left: 10px;
	    margin: 5px auto
	}
	.inform-profile {
	    margin-left: 10px;
	}
	.profile-follow {
		padding-left: 10px;
	}
	.img-profile-user-married {
	    width: 60px;
	}
	.identify-statist-profile-page {
	    width: 150px;
	}
	.img-profile-user-married h3 {
	    width: 54px;
	}
	.identify-statist-profile-page ul {
		padding-left: 0px;
	}
	.identify-statist-profile-page ul li {
	    width: 75px;
	}
	.statistics-profile h2 {
	    font-size: 13.5px;
	}
	.profile-item-center {
		width: 240px;
		margin: auto;
	}
	.options-profile-btn {
		width: 48%;
	}
	.card, .pop-up-component {
	    width: 100%;
	}
	.add-post {
	    position: fixed;
	    top: inherit;
	    bottom: 20px;
	}
	.pop-up-component {
	    width: 97%;
	}
	/**/
}
@media screen and (max-width: 360px) {
	.post-cover {
	    height: 375px;
	}
}
@media screen and (max-width: 350px) {
	.post-cover {
	    height: 350px;
	}
	.details-invited {
    	width: 220px;
	}
	.options-invited label {
    	width: 105px;
	}
	#table_search_mobile {
		width: 250px;
	}
}
@media screen and (max-width: 414px) {
	.post-cover {
	    height: 414px;
	}
	.video-post {
	    height: 414px;
	}
	.statistics-profile-page-identify h1 {
	    font-size: 16px;
	}
	.description-couple {
	    margin-left: 20px;
	}
}
@media screen and (max-width: 411px) {
	.post-cover {
	    height: 411px;
	}
	.video-post {
	    height: 411px;
	}
	.noti-div-name {
	    max-width: 220px;
	}
	.img-profile-page {
    	width: 70px;
	    height: 70px;
	}
	.description-couple {
	    width: 343px;
		margin-left: 20px;
	}
	.statistics-profile-page-component h2 {
	    font-size: 11.5px;
	}
}
@media screen and (max-width: 360px) {
	#main-login {
		width: 85%;
	}
	.input-container {
	    width: 210px;
	}
	.post-cover {
	    height: 360px;
	}
	.video-post {
	    height: 360px;
	}
	.pop-up-component {
	    width: 94%;
	}
	.pop-up-component-header-default {
	    width: 335px;
	}
	.interaction-user li:nth-child(1) div.content-button {
		width: 32px;
	}
	.textarea-container textarea {
	    border: 1px solid #ffffff0d;
	}
	.statistics-profile-page {
		width: 170px;
	}
	.follwing-btn {
		width: 150px;
	}
	.add-post {
	    /*top: 330px;*/
	}
	
}
@media screen and (max-width: 375px) {
	.description-couple {
	    margin-left: 0px;
	}
	.post-cover {
	    height: 375px;
	}
}
@media screen and (max-width: 400px) {
	.option-profile-menu {
		overflow-x: auto;
	}
}
@media screen and (max-width: 800px) {
	.user-tassumir h1 {
		display: none;
	}
	.menu-option-profile {
	    font-size: 14px;
	}
}
@media screen and (max-width: 420px) {
	.statistics-profile-page-component {
		width: 24%;
	}
	#statistics-profile-page-component-container-lg {
		display: block;
		    width: 240px;
	}
	#statistics-profile-page-component-mobile {
		display: block;
		width: 80%;
	    margin: auto;
	}
	.description-couple p {
	    color: #ffff;
	    font-size: 13px;
	    width: 305px;
	    padding: 10px;
	    margin-left: 10px;
	}
	.follwing-btn {
	    padding: 8px;
	    width: 100%;
	}	
	.statistics-profile-page {
	    width: 200px;
	}
}
@media screen and (max-width: 720px) {
	.card-p{
		background-color: transparent;
		border: none;
    }
	#app-log-reg {
	    margin-top: 10px;
	}
    #main-profile header.card {
	    background-color: transparent;
	}
    .comment-users-tass {
		height: auto;
		display: none;
	}
	#text-video-container-mobile {
		display: block;
	}
	#text-video-container-lg {
		display: none;
	}
	#mb-video-lg-display {
		width: 100%;
	}
	#mb-video-lg-display .content-video-tass {
	    height: auto;
	}
	.video-container-component {
		margin-top: 0px;
	}
	::-webkit-scrollbar {
		width: 0px;
	}
	::-webkit-scrollbar-thumb {
		width: 0px;
	}
	.suggest-slide-page nav::-webkit-scrollbar {
		height: 0px;
	}
	.suggest-slide-page nav::-webkit-scrollbar-thumb {
		height: 0px;
	}
	.suggest-slide nav::-webkit-scrollbar-thumb {
		height: 0px;
	}
	.suggest-slide nav::-webkit-scrollbar {
		height: 0px;
	}
	.stories-about-talking nav::-webkit-scrollbar {
		height: 0;
	}
	.stories-about-talking nav::-webkit-scrollbar-thumb {
		height: 0;
	}
    #mb-video-lg-display .identify-video{
    	display: none;
    }
    #mb-video-lg-display {
    	border: none;
    	background-color: transparent;
    }
    #mb-video-lg-none {
    	display: block;
    }
    .nav-video-option {
    	display: block;
    }
    .tv-video-cont {
	    width: 100%;
	    margin: 0;
	}
	.tv-video-cont video {
	    contain: strict;
	    height: 417px;
	    width: 360px;
	}
    .filter-main-search-mobile {
    	display: block;
    }
    .input-login {
	    background-color: #3b3b3b;
	}
	.input-emai-log {
		margin-top: 10px;
	}
	#body-login, #body-reg {
	    background-color: #000000;
	}
    .cover-login {
    	display: none;
	}
	#main-login-container {
	    width: 100%;
	    margin: auto;
	}
	#main-login {
	    width: 320px;
	    height: auto;
	    margin: 55px auto;
	    float: none;
	}
	#app-log-reg {
		width: 100%;
	    background-color: #000;
	}
	#body-login {
		background-color: #000;
	}
	.risk h2 {
	    background-color: #000;
	}
	#title-login {
	    display: block;
	}
	#logo-login-form-lg {
		display: none;
	}
	.profile-name {
	    margin-top: 0px;
	}
	#img-profile-container {
	    margin: auto;
	}
	#main-profile {
		background-color: transparent;
	}
	#main-container-profile {
		background-color: transparent;
	}
    .mobile-user-name {
		display: block;
	}
	#stories-card {
	    margin-bottom: 0px;
	    margin-top: 0px;
	}
	.search-mobile {
		display: block;
	}
	.profile-name-1{
		font-size: 16px;
		width: 150px;
	}
	.comment-user-comment {
		margin: 10px 10px 10px;
	}
	.suggest-slide {
		display: block;
		margin-top: 5px;
	}
	#imgless {
		margin-top: 10px;
	}
	.user-identify-comment {
	    margin-left: 0;
	}
	.comment-users {
	    padding-top: 0px;
	    width: 312px;
	    margin-left: 10px;
	}
	.user-identify-comment {
	    padding-left: 8px;
	}
	.suggest-slide-page nav::-webkit-scrollbar {
		height: 0px;
	}
	.main-container {
	    margin-top: 5px;
	}
	.suggest-slide-page nav::-webkit-scrollbar-thumb {
		border-radius: 30px;
	    background-color: transparent;
	}
	.post {	    
		border: 1px solid #343a40;
	    border-radius: 10px;
	}
	.body-pop-up {
	    background-color: var(--background-main-dark);
	}
	.post header {
		margin-top: 5px;
	}
	.interaction-numbers {
	    border-bottom: none;
	}
	.interaction-user ul.ul-interaction-user li {
	    margin: 0;
	}
	.card {
		background-color: #000;
	}
	.main, .header-main-component,
	.stories-about-talking nav, .stories-about-talking nav ul,
	main {
		background-color: #000;
	}
	#main-profile .card {
	    flex-direction: column;
	}
	#ident-profile {
	    flex-direction: column;
	    text-align: center;
	    font-size: 16px;
	}
	#ident-profile-1 {
	    flex-direction: row;
	    text-align: center;
	    font-size: 16px;
	    margin-right: 4px;
	}
	.ul-left li.search-lg {
		display: none;
	}
	.stories-about-talking header h1 {
	    font-size: 13px;
	    padding: 0px 12px 5px;    
	    margin-top: 10px;
	}
	.stories-about-talking nav ul li {
	    width: 66px;
	    height: 66px;
	    border-radius: 50%;
	    border: 2px solid transparent;
	    padding: 7px;
	    margin-right: 10px;
	    background-image: linear-gradient(45deg, #d5cf12, #d708d7);
	    background-image: -webkit-linear-gradient(45deg, #d5cf12, #d708d7);
	    background-image: -o-linear-gradient(45deg, #d5cf12, #d708d7);
	    background-image: -moz-linear-gradient(45deg, #d5cf12, #d708d7);
	    background-image: -ms-linear-gradient(45deg, #d5cf12, #d708d7);
	}
	.stories-about-talking nav ul li .headline {
	    display: none;
	}
}
@media screen and (max-width: 650px) {
	#stories-card {
		width: 100%;
	}
	.main {
		width: 100%;
	}
}
@media screen and (max-width: 520px) {
	.statistics-profile-page-component h1, 
	.statistics-profile-page-component h2 {
	    font-size: 12px;
	}
	.couple-profile-img {
	    position: absolute;
	    width: 50px;
	    height: 50px;
	}
	.couple-profile-container {
    	width: 75px;
	    height: 75px;
	}
	.statistics-profile-page-component h1 {
	    font-size: 13px;
	}
	.info-invite-relationship {
	    width: 250px;
	}
	#main-container-relationship .options-invited .label-invited {
	    width: 200px;
	    margin-left: 84px;
	}
	#main-container-relationship .options-invited .denied {
	    margin-left: 86px;
	}
	.options-invited .denied {
	    border: 1px solid #343a40;
	}
}
@media screen and (max-width: 501px) {
	.card {
		width: 100%;
	}
}
@media screen and (max-width: 500px) {
	#pop-up-component-create-post {
	    width: 100%;
	    height: 100%;
	    position: relative;
	    border-radius: 0;
	    margin: 0;
	}
	.search-mobile .input-search {
		width: 100%;
		border-radius: 0;
	}
	.search-mobile {
		width: 100%;
		margin: 2px auto 10px;
	}
	.description-couple h1, .description-couple h2 {
	    padding-left: 20px;
	}
	.follwing-btn-container {
	    width: 250px;
	}
	#pop-up-component-create-post .pop-up-component-header {
	    width: 100%;
	}
	.user-identify-comment {
	    width: 230px;
	}
	.comment-send-text {
	    width: 77%;
	}
	.user-identify-img {
	    width: 50px;
	    height: 50px;
	}
}
@media screen and (max-width: 600px) {
	#main-profile {
		width: 100%;
	}
}
@media screen and (max-width: 967px) {
	
}
@media screen and (max-width: 330px) {
	#pop-up-component-create-post .pop-up-component-header {
		width: 300px;
	}
	.follwing-btn-container {
    	width: 210px;
	}
}
@media screen and (max-width: 650px) {
	#main-container-profile {
		width: 100%;
	}
}
@media screen and (min-width: 1440px) {
	.main {
		width: 650px;
	}
	.card {
	    width: 90%;
	    margin: 10px auto 10px;
	}
	.post {
	    width: 100%;
	    max-width: 710px;
	}
	.video-post {
    	height: 498px;
	}
	.post-cover {
	    height: 538px;
	}
	.aside-left {
		left: 90px;
	}
	.aside-right {
		right: 80px;
	}
}
@media screen and (max-width: 570px) {
	.card-page {
	    width: 100%;
	}
	.noti-card-first {
		display: none;
	}
	.img-post {
		position: relative;
		width: 32%;
		height: 110px;
		display: inline-block;
		margin-top: -3px;

	}
	.last-component {
	    margin-top: 5px;
	}
}
@media screen and (max-width: 328px) {
	.img-profile-page {
	    width: 65px;
	    height: 65px;
	}
	#main-login {
	    width: 298px;
	}
	.video-post {
	    height: 328px;
	}
	.info-invite-relationship {
	    width: 220px;
	}
	#main-container-relationship .options-invited .label-invited {
	    /*width: 180px;*/
	}
	#statistics-profile-page-component-container-lg {
	    display: block;
	    width: 210px;
	}
	.statistics-profile-page-component {
	    width: 50px;
	}
	.input-container-radio {
	    width: 100px;	
	}
	.statistics-profile-page {
	    width: 170px;
	}
	.pop-up-component-header-default {
	    width: 298px;
	}
	.comment-send input[type="text"] {
	    width: 65%;
	}
	.comment-users {	    
		width: 290px;
	}
	.user-identify-comment {
	    width: 230px;
	}
	.user-identify-comment.user-identify-comment-feed {
	    width: 127px;
	}
}
@media screen and (max-width: 328px){
	.noti-div-elipsis {
		margin-right: 5px;
	}
	.video-post {
	    height: 328px;
	}
	.noti-div-name span{

		font-size: 10pt;

	}
	.noti-div-name{

		align-self:center; 
		align-items: center;
		width: 100%;
	}
	.noti-hour a span{
		font-size: 9pt;
     }
     .noti-hour a span:hover{
     	text-decoration: none;
     }
    
   .noti-card-first{
	display: none;
    position: absolute;
	background-color: #242526;
	width: 360px;
    height: 470px;
    padding: 20px;
    right: -90px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #00000033;
}
.couple-invite-icon-one{
		background-color: #800080;
		
	    width: 40px;
	    height: 40px;
	    position: relative;
	    
	    padding: 20px;
	   border-radius: 5px;
	   
}
#ident-profile-1 {
	    flex-direction: row;
	    text-align: center;
	    font-size: 16px;
	    margin-right: 4px;
	}
	.couple-invite-icon-one {
	background-color: #800080;
    width: 40px;
    height: 40px;
    position: relative;
    padding: 20px;
    border-radius: 5px;
   

}
.circle{
	border-radius: 50%;
}
.profile-name-1{

	font-size: 16px;
	
	width: 150px;
}
.card-p{
	background-color: transparent;
	margin: 0 auto;
	/*width: 300px;*/
	border: none;
}

}
@media screen and (max-width: 320px){
	.post-cover {
    	height: 320px;
	}
	.video-post {
	    height: 320px;
	}
}
@media screen and (max-width: 768px){
	.card-p{
		background-color: transparent;
		/*margin: 0 auto;*/
		width: 100%;
		border: none;
	}
	.page-card-header {
	    background-color: transparent;
	}
	.video-container-component {
	    height: 80vh;
	    overflow-y: auto;
	    overflow-x: hidden;
	}
}
@media screen and (max-width: 500px) {
	.video-post {
	    height: 100vh;
	}
	.title h1 {
	    font-size: 24px;
	}
	.fa-24 {
	    font-size: 20px;
	}
	.user-tassumir img {
	    width: 26px;
	    height: 26px;
	}
	.header-main-component {
	    height: 50px;
	}
	.number-notification span {
	    font-size: 11px;
	}
	.post header .first-component .page-identify h1 {
	    font-size: 13px;
	}
	.seguir-a {
		font-size: 12px;
	}
	.description-couple h2 {
	    font-size: 12px;
	}
	.card-post p {
	    font-size: 12px;
	}
	.comment-user-comment.comment-user-comment-feed p {
	    font-size: 11px;
	    max-width: 160px;
	}
	.interaction-numbers li a {
	    font-size: 12px;
	}
}
@media screen and (max-width: 470px) {
	.post header .first-component .page-identify h1 {
	    font-size: 12px;
	}
	.edit-profile-mobile {
		font-size: 12px;
	}
	.btn-a-default {
		font-size: 12px;
	}
	.statistics-profile-page-identify {
	    margin-top: 8px;
	}
}

@media screen and (max-width: 1200px) {
	.aside-left, .aside-right {
	    width: 267px;
	}	
}

@media screen and (max-width: 540px) {
	.post {	    
		border: none;
		border-radius: 0;
		border-top: 1px solid #343a40;
	}
	#refresh-profile-photo-id {
	    display: block;
	}
	.video-container {
	    margin-bottom: 10px;
	}
	.tv-video-cont {
	    height: 417px;
	}
	.nav-video-option {
	    overflow: auto;
	}
	.nav-video-option ul {
	    width: 415px;
	}
	.nav-video-option::-webkit-scrollbar {
	    width: 0;
	    height: 0;
	}
}
@media screen and (min-width: 2000px) {
	.aside-left {
	    left: 280px;
	}
	.aside-right {
	    right: 280px;
	}
	.menu-header {
		margin-right: 248px;
	}
	.ul-left {
		margin-left: 240px;
	}
}
@media screen and (max-width: 1050px) {
	#app-log-reg {
	    width: 100%;
	}
}
@media screen and (max-width: 330px) {
	.post header .first-component {
	    width: 268px;
	}
}
@media screen and (min-width: 2400px) {
	.aside-left {
	    left: 480px;
	}
	.aside-right {
	    right: 480px;
	}
	.ul-left {
		margin-left: 420px;
	}
	.menu-header {
		margin-right: 450px;
	}
}