@charset 'utf-8';
@media screen and (max-width: 1150px) {
	.aside {
		display: none;
	}
}
@media screen and (max-width: 1240px) {
	#main-login-container {
	    margin: auto;
	    margin-left: 50px;
	}
}
@media screen and (max-width: 1100px) {
	.cover-login {
	    width: 380px;
	    height: 400px;
	    margin-left: 0px;
	    margin-right: 40px;
	}
	#main-login-container {
	    width: 760px;
	    margin-left: 15px;
	}
}
@media screen and (max-width: 968px){
	.cover-login {
		width: 310px;
		height: 380px;
	    margin-right: 20px;
	}
	#main-login-container {
	    width: 665px;
		margin-left: 15px;
	}
}
@media screen and (max-width: 540px) {
	#statistics-profile-page-component-container-lg-1 {
		width: 254px;
	}
	.card-post p {
		margin-left: 0;
	}
	#edit-pop-up .page-identify h1 {
	    margin-top: 15px;
	}
}
@media screen and (max-width: 540px) {
	#title-login {
		display: block;
	}
	.main {
		width: 100%;
		margin-top: 6px;
		margin-top: 0;
	}
	#img-cover-profile-page {
	    margin: auto;
	    float: none;
	    width: 120px;
	    height: 120px;
	}
	#edit-pop-up .pop-up-component {
		width: 90%;
	}
	#edit-pop-up .pop-up-component-header-default {
		width: 97%;
	}
	.lg-invisible-user-name {
		display: none;
	}
	.option-profile-menu ul {
	    /*background-color: #242526;*/
	}
	.card {
		border: none;
	}
	.menu-header {
	    padding-right: 0px;
	}
	.post header .first-component .page-cover {
	    width: 40px;
	    height: 40px;
	}
	.post header .first-component .page-identify h1 {
	    margin-top: 12px;
	    font-weight: bolder;
	}
	.page-identify {
	    margin-top: 0px;
	}
	.interaction-user {
	    justify-content: right;
	}
	.video-post {
	    height: auto;
	}
	.post-cover {
	    height: 540px;
	}
	.option-profile-menu {
	    overflow-x: auto;
	    /*background-color: #242526;*/
	}
	.img-profile-page {
	    width: 90px;
	    height: 90px;
	}
	.edit-profile {
		display: none;
	}
	.edit-profile.edit-page-btn-alter {
		display: block;
	}
	.edit-profile-mobile {
		display: block;
		margin-top: 0px;
		padding: 0px;
	}
	.edit-page-container {
		display: none;
	}
	.edit-page-container-mobile {
		display: block;
	}
	#statistics-profile-page-component-mobile {
		display: block;
	}
	.statistics-profile-page-identify h1 {
	    font-size: 20px;
	    font-weight: bolder;
	}
	.user-account, .search-lg,
	.mobile-hidden, .menu-header ul li.mobile-hidden,
	.ul-left li.mobile-hidden {
		display: none;
	}
	.ul-left {
	    margin-left: -30px;
	}
	.title h1 {
	    font-size: 30px;
	}
	.card.stories-about-talking {
		margin-top: 0px;
	}
	.menu-header ul li {
	    display: block;
	    margin-left: 5px;
	}
	.menu-header ul li.mobile-hidden-notify-icon,
	.menu-header ul li.mobile-lg-notify,
	.menu-header ul li.mobile-header-icon,
	.menu-header ul li.mobile-header-icon {
	    margin-top: 8px;
	}
	.menu-header ul {
	    margin-left: -40px;
	    margin-bottom: 0;
	}
	.post {
	    width: 100%;
	}
	.card-post p {
	    padding: 5px 10px;
	}
	.card {
		border-radius: 0px;
		margin-top: 5px;
	}
	.user-tassumir {
	    margin-right: 0px;
	}
	.row {
		/*margin-left: 0;
		margin-right: 0;*/
	}
	.fa-24 {
	    font-size: 22px;
	}
	.stories-about-talking nav ul li {
	    /*height: 80px;
    	width: 80px;
	    border-radius: 50%;*/
	}
	.headline {
		display: none;
	    border-bottom-right-radius: 50px;
	    border-bottom-left-radius: 50px;
	}
	.stories-about-talking nav ul li .img-back-stories, 
	.stories-about-talking nav ul li {
		/*border-radius: 50%;    
		border: 1px solid #800080;*/
	}
	.more-option-post {
	    right: 10%;
	}
	.stories-about-talking nav {
		overflow: auto;
		background-color: #242526;
	}
	.mobile-header-icon {
		margin-top: 0px;
	}
	.ul-left li {
		margin-top: 5px;
	}
	.interaction-user ul {
	    width: 90%;
	    padding-left: 0;
	    justify-content: space-around;
	}
	.interaction-user .content-button a h2 {
	    font-size: 11px;
	}
	.interaction-user .content-button {
	    width: 95px;
	}
	.comment-send {
		display: block;
	}
	.interaction-user {
	    border-bottom: none;
	}
	.stories-about-talking nav ul {
	    /*width: 390px;
	    width: 520px;*/
	    margin-bottom: 0;
	    padding-left: 25px;
	}
	.stories-about-talking header h1 {
	    font-size: 14px;
	}
	.stories-about-talking nav ul li:nth-child(1) {
	    
	}
	.stories-about-talking nav ul li .img-back-stories {
	        width: 100%;
		    height: 100%;
		    border: 2px solid #18191a;
		    border-radius: 50%;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	}
	.stories-about-talking nav ul {
	    width: 1370px;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	    position: relative;
	    margin-top: 0;
	    margin-left: 0;
	    /*padding-left: 10px;
	    padding-top: 10px;*/
	}
	.img-profile-user-married img {
	    width: 60px;
	    height: 60px;
	}
	.profile-name {
	    font-size: 14px;
	    width: 170px;
	    padding-left: 10px;
	}
	.inform-profile {
	    margin-left: 20px;
	}
	.profile-follow {
		padding-left: 10px;
	}
	.img-profile-user-married {
	    width: 60px;
	}
	.identify-statist-profile-page {
	    width: 150px;
	}
	.img-profile-user-married h3 {
	    width: 54px;
	}
	.identify-statist-profile-page ul {
		padding-left: 0px;
	}
	.identify-statist-profile-page ul li {
	    width: 75px;
	}
	.statistics-profile h2 {
	    font-size: 13px;
	}
	.add-edit-profile {
	    bottom: 6px;
	    right: 2px;
	}
	.stories-about-talking nav ul li {
	    width: 90px;
	    height: 90px;
	    border-radius: 50%;
	    border: 4px solid transparent;
		/*border-image: linear-gradient(45deg, #800080, #d5cf12, #9400d3, #d708d7);
		border-image-slice: 1;*/
		padding: 7px;
		background-image: linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -webkit-linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -o-linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -moz-linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -ms-linear-gradient(45deg, #d5cf12, #d708d7);
	}
	.btn-a-default {
	    display: block;
	    width: 100%;
	    background: transparent;
    	border: 1px solid #343a40;
    	padding: 10px;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	}
	#img-profile-container {
	    width: 96px;
	    height: 96px;
	    position: relative;
	    margin-top: 0;
	    margin-left: 0;
	    /*padding-left: 10px;
	    padding-top: 10px;*/
	    margin: auto;
	}
	.border-grad {
		border: 2px solid transparent;
		background-image: linear-gradient(45deg, #d5cf12, #d708d7);
		background-image: -webkit-linear-gradient(45deg, #d5cf12, #d708d7);
	}
	.img-profile-user-married img {
	    width: 60px;
	    height: 60px;
	}
	.profile-name {
		margin-top: 10px;
	    font-size: 18px;
	    width: 170px;
	    padding-left: 10px;
	    margin: 5px auto
	}
	.inform-profile {
	    margin-left: 10px;
	    margin: 10px auto 10px;
	}
	.profile-follow {
		padding-left: 10px;
	}
	.img-profile-user-married {
	    width: 60px;
	}
	.identify-statist-profile-page {
	    width: 150px;
	}
	.img-profile-user-married h3 {
	    width: 54px;
	}
	.identify-statist-profile-page ul {
		padding-left: 0px;
	}
	.identify-statist-profile-page ul li {
	    width: 75px;
	}
	.statistics-profile h2 {
	    font-size: 13.5px;
	}
	.statistics-profile h2.text-profile-statistics {
	    font-size: 13px;
	}
	.profile-item-center {
		width: 240px;
		margin: auto;
		max-width: 80%;
	}
	.options-profile-btn {
		width: 47.5%;
		margin-right: 1%;
		margin-left: 1%;
		margin-top: 0;
	}
	#options-profile-btn-edit-profile {
		width: 60%;
	}
	.options-profile-btn.more-options-profile-bt {
		position: relative;
	    width: 17%;
	    height: 35px;
	    margin: 0 2%;
	    margin-right: 0;
	}
	#options-profile-btn-profile {
		width: 100%;
	}
	.card, .pop-up-component {
	    width: 100%;
	}
	.add-post {
	    position: fixed;
	    top: inherit;
	    bottom: 70px;
	}
	.pop-up-component {
	    width: 97%;
	}
	/**/
}
@media screen and (max-width: 360px) {
	.post-cover {
	    height: 375px;
	}
}
@media screen and (max-width: 350px) {
	.post-cover {
	    height: 350px;
	}
	.details-invited {
    	width: 220px;
	}
	.options-invited label {
    	width: 105px;
	}
	#table_search_mobile {
		width: 250px;
	}
}
@media screen and (max-width: 414px) {
	.post-cover {
	    height: 414px;
	}
	.video-post {
	    height: 414px;
	}
	.statistics-profile-page-identify h1 {
	    font-size: 16px;
	}
	.description-couple {
	    margin-left: 20px;
	}
}
@media screen and (max-width: 411px) {
	.post-cover {
	    height: 411px;
	}
	.video-post {
	    height: 411px;
	}
	.noti-div-name {
	    max-width: 220px;
	}
	.img-profile-page {
    	width: 70px;
	    height: 70px;
	}
	.description-couple {
	    width: 343px;
		margin-left: 20px;
	}
	.statistics-profile-page-component h2 {
	    font-size: 11.5px;
	}
}
@media screen and (max-width: 360px) {
	#main-login {
		width: 85%;
	}
	.input-container {
	    width: 210px;
	}
	.post-cover {
	    height: 360px;
	}
	.video-post {
	    height: 360px;
	}
	.pop-up-component {
	    width: 94%;
	}
	.pop-up-component-header-default {
	    width: 335px;
	}
	.interaction-user li:nth-child(1) div.content-button {
		width: 32px;
	}
	.textarea-container textarea {
	    border: 1px solid #ffffff0d;
	}
	.statistics-profile-page {
		width: 170px;
	}
	.follwing-btn {
		width: 150px;
	}
	.add-post {
	    /*top: 330px;*/
	}
	
}
@media screen and (max-width: 375px) {
	.description-couple {
	    margin-left: 0px;
	}
	.post-cover {
	    height: 375px;
	}
}
@media screen and (max-width: 400px) {
	.option-profile-menu {
		overflow-x: auto;
		overflow-y: hidden;
	}
}
@media screen and (max-width: 800px) {
	.user-tassumir h1 {
		display: none;
	}
	.menu-option-profile {
	    font-size: 14px;
	}
}
@media screen and (max-width: 420px) {
	.statistics-profile-page-component {
		width: 24%;
		margin-top: 0;
	}
	#statistics-profile-page-component-container-lg {
		display: block;
		    width: 240px;
	}
	#statistics-profile-page-component-mobile {
		display: block;
		width: 80%;
	    margin: auto;
	}
	.description-couple p {
	    color: #ffff;
	    font-size: 12px;
	    width: 90%;
	    padding: 5px 10px;
	    margin-left: 0px;
	}
	.follwing-btn {
	    padding: 8px;
	    width: 100%;
	    max-width: 240px;
	}	
	.statistics-profile-page {
	    width: 200px;
	}
}
@media screen and (max-width: 720px) {
	.card-p{
		background-color: transparent;
		border: none;
    }
    #card-profile-option .option-profile-menu #ul-profile li {
	    padding: 0;
	}
    .user-account-container-img {
    	margin-top: 1px;
    }
	#app-log-reg {
	    margin-top: 10px;
	}
	.video-post-dest {
		display: none;
	}
	.foto-page-video {
		display: block;
		border: 2px solid #18191a;
	}
    #main-profile header.card {
	    background-color: transparent;
	}
    .comment-users-tass {
		height: auto;
		display: none;
	}
	#text-video-container-mobile {
		display: block;
	}
	#text-video-container-lg {
		display: none;
	}
	#mb-video-lg-display {
		width: 100%;
	}
	#mb-video-lg-display .content-video-tass {
	    height: auto;
	}
	.video-container-component {
		margin-top: 0px;
	}
	::-webkit-scrollbar {
		width: 0px;
	}
	::-webkit-scrollbar-thumb {
		width: 0px;
	}
	.suggest-slide-page nav::-webkit-scrollbar {
		height: 0px;
	}
	.suggest-slide-page nav::-webkit-scrollbar-thumb {
		height: 0px;
	}
	.suggest-slide nav::-webkit-scrollbar-thumb {
		height: 0px;
	}
	.suggest-slide nav::-webkit-scrollbar {
		height: 0px;
	}
	.stories-about-talking nav::-webkit-scrollbar {
		height: 0;
	}
	.stories-about-talking nav::-webkit-scrollbar-thumb {
		height: 0;
	}
    #mb-video-lg-display .identify-video{
    	display: none;
    }
    #mb-video-lg-display {
    	border: none;
    	background-color: transparent;
    }
    #mb-video-lg-none {
    	display: block;
    }
    .nav-video-option {
    	display: block;
    }
    .tv-video-cont {
	    width: 100%;
	    margin: 0;
	}
	.tv-video-cont video {
	    contain: content;
    	height: auto;
    	width: 360px;
	}
    .filter-main-search-mobile {
    	display: block;
    }
    .input-login {
	    background-color: #3b3b3b;
	    font-size: 12px;
	}
	.input-emai-log {
		margin-top: 10px;
	}
	#body-login, #body-reg {
	    background-color: #000000;
	}
    .cover-login {
    	display: none;
	}
	#main-login-container {
	    width: 100%;
	    margin: auto;
	}
	#main-login {
		width: 275px;
	    height: auto;
	    margin: 20% auto 10px;
	    float: none;
	}
	#app-log-reg {
		width: 100%;
	    background-color: #000;
	}
	#body-login {
		background-color: #000;
	}
	.risk h2 {
	    background-color: #000;
	}
	#title-login {
	    display: block;
	}
	#logo-login-form-lg {
		display: none;
	}
	.profile-name {
	    margin-top: 0px;
	}
	#img-profile-container {
	    margin: 10px auto 0;
	}
	#main-profile {
		background-color: transparent;
	}
	#main-container-profile {
		background-color: transparent;
	}
    .mobile-user-name {
		display: block;
	}
	#stories-card {
	    margin-bottom: 0px;
	    margin-top: 0px;
	}
	.search-mobile {
		display: block;
	}
	.profile-name-1{
		font-size: 16px;
		width: 150px;
	}
	.comment-user-comment {
		margin: 2px;
	}
	.suggest-slide {
		display: block;
		margin-top: 5px;
	}
	.suggest-slide.invisible-component {
		display: none;
	}
	#imgless {
		margin-top: 10px;
	}
	.user-identify-comment {
	    margin-left: 0;
	}
	.comment-users {
	    padding-top: 0px;
	    width: 312px;
	    margin-left: 10px;
	}
	.user-identify-comment {
	    padding-left: 8px;
	}
	.suggest-slide-page nav::-webkit-scrollbar {
		height: 0px;
	}
	.main-container {
	    margin-top: 0px;
	}
	.suggest-slide-page nav::-webkit-scrollbar-thumb {
		border-radius: 30px;
	    background-color: transparent;
	}
	.post {	    
		border: 1px solid #343a40;
	    border-radius: 10px;
	}
	.body-pop-up {
	    background-color: var(--background-main-dark);
	}
	.post header {
		margin-top: 5px;
	}
	.interaction-numbers {
	    border-bottom: none;
	}
	.interaction-user ul.ul-interaction-user li {
	    margin: 0;
	}
	.card {
		background-color: #18191a;
		border: none;
	}
	#main-container-profile .card {
		background-color: transparent;
	}
	.main, .header-main-component,
	.stories-about-talking nav, .stories-about-talking nav ul,
	main {
		background-color: #000;
	}
	#main-profile .card {
	    flex-direction: column;
	}
	#main-profile #card-profile-option {
		background-color: #18191a;
		padding-top: 6px;
	}
	#card-profile-option {
		margin-bottom: 0;
	}
	#ident-profile {
	    flex-direction: column;
	    text-align: center;
	    font-size: 16px;
	}
	#ident-profile-1 {
	    flex-direction: row;
	    text-align: center;
	    font-size: 16px;
	    margin-right: 4px;
	}
	.ul-left li.search-lg {
		display: none;
	}
	.stories-about-talking header h1 {
	    font-size: 13px;
	    padding: 0px 12px;    
	    margin-top: 10px;
	    font-weight: bolder;
	}
	.stories-about-talking nav ul li {
	    width: 56px;
	    height: 56px;
	    border-radius: 50%;
	    border: 2px solid transparent;
	    padding: 7px;
	    margin-right: 10px;
	    background-image: linear-gradient(45deg, #d5cf12, #d708d7);
	    background-image: -webkit-linear-gradient(45deg, #d5cf12, #d708d7);
	    background-image: -o-linear-gradient(45deg, #d5cf12, #d708d7);
	    background-image: -moz-linear-gradient(45deg, #d5cf12, #d708d7);
	    background-image: -ms-linear-gradient(45deg, #d5cf12, #d708d7);
	}
	.stories-about-talking nav ul li .headline {
	    display: none;
	}
}
@media screen and (max-width: 650px) {
	#stories-card {
		width: 100%;
	}
	.main {
		width: 100%;
	}
}
@media screen and (max-width: 520px) {
	.statistics-profile-page-component h1, 
	.statistics-profile-page-component h2 {
	    font-size: 12px;
	}
	#genre-id-container {
	    margin-right: 10px;
	}
	.input-login {
	    margin: 5px auto;
	}
	#main-login, #main-reg {
	    width: 240px;
	    height: auto;
	}
	.enter-login {
	    color: #fff;
	}
	.couple-profile-img {
	    position: absolute;
	    width: 50px;
	    height: 50px;
	}
	.img-logo {
	    border-radius: 0%;
	}
	.couple-profile-container {
    	width: 75px;
	    height: 75px;
	}
	.statistics-profile-page-component h1 {
	    font-size: 13px;
	}
	.info-invite-relationship {
	    width: 250px;
	}
	#main-container-relationship .options-invited .label-invited {
	    width: 200px;
	    margin-left: 84px;
	}
	#main-container-relationship .options-invited .denied {
	    margin-left: 86px;
	}
	.options-invited .denied {
	    border: 1px solid #343a40;
	}
}
@media screen and (max-width: 501px) {
	.card {
		width: 100%;
		margin-bottom: 8px;
	}
}
@media screen and (max-width: 500px) {

	#main-login {
		width: 240px;
	}
	#pop-up-component-create-post {
	    width: 100%;
	    height: 100%;
	    position: relative;
	    border-radius: 0;
	    margin: 0;
	}
	.search-mobile .input-search {
		width: 100%;
		border-radius: 0;
	}
	.search-mobile {
		width: 100%;
		margin: 2px auto 10px;
	}
	.description-couple h1, .description-couple h2 {
	    padding: 0 10px;
	}
	.follwing-btn-container {
	    width: 78%;
	    max-width: 155px;
	    margin-top: 0;
	}
	.follwing-btn-container.l-5 {
	    margin: 1%;
	    margin-top: 0;
	}
	#pop-up-component-create-post .pop-up-component-header {
	    width: 100%;
	}
	.user-identify-comment {
	    width: 230px;
	}
	.comment-send-text {
	    width: 77%;
	}
	.user-identify-img {
	    width: 50px;
	    height: 50px;
	}
}
@media screen and (max-width: 600px) {
	#main-profile {
	    width: 100%;
	    background: transparent;
	    border-radius: 0;
	    margin-bottom: 0;
	}
}
@media screen and (max-width: 967px) {
	
}
@media screen and (min-width: 800px) {
	.identify-cover {
		display: block;
	}
	.stories-about-talking nav ul li:hover .identify-cover ~ img {
	    transition: all 1s;
	    width: 200%;
	}
}
@media screen and (max-width: 330px) {
	#pop-up-component-create-post .pop-up-component-header {
		width: 300px;
	}
	.follwing-btn-container {
    	width: 210px;
	}
}
@media screen and (max-width: 650px) {
	#main-container-profile {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0;
	}
	.seguir-a {
	    margin-top: 3px;
	    font-weight: bolder;
	}
	#main-container-profile .card {
	    margin-bottom: 0;
	}
}
@media screen and (min-width: 1440px) {
	.main {
		width: 650px;
	}
	.alert-info-about-us {
	    width: 90%;
	    background-color: #242526;
	}
	.component-card {
	    width: 90%;
	    max-width: 100%;
	}
	.card {
	    width: 90%;
	    margin: 10px auto 10px;
	}
	.post {
	    width: 100%;
	    max-width: 710px;
	}
	.video-post {
    	height: 498px;
	}
	.post-cover {
	    height: 538px;
	}
	.aside-left {
		left: 90px;
	}
	.aside-right {
		right: 80px;
	}
}
@media screen and (max-width: 570px) {
	.card-page {
	    width: 100%;
	}
	.noti-card-first {
		display: none;
	}
	.inform-profile h3#civil-state, 
	#main-profile .inform-profile p {
	    text-align: center;
	}
	.img-post {
		position: relative;
	    width: 100%;
	    height: 110px;
	    border: 1px solid #2f3338;
	    border-left: 0;
	    border-bottom: 0;
	    border-top: none;
	}
	.post-page-container {
	    height: 110px;
	}
	#main-profile .img-post {
		width: 33.3%;
	}
	.video-post-profile {
	    height: 110px;
	}
	.img-post-video-component-fl {
	    border-right: 0;
	}
	.last-component {
	    margin-top: 5px;
	}
	#main-profile header.card.profile-card {
		background-color: #18191a;
		margin-top: 0;
		border-radius: 0;
		margin-bottom: 4px;
	}
	#main-search .card-p {
	   margin-left: 10px;
	}
	#main-search .card-flex {
	    padding-left: 10px;
	    margin-bottom: 0;
	}
	.search-info {
	    width: 97%;
	    padding: 4px 10px;
	}
	#main-search .profile-name-1 {
	    font-size: 14px;
	}
	.profile-card {
		background-color: #18191a;
	}
}
@media screen and (max-height: 500px) {
	#main-login {
	    margin: 13% auto 10px;
	}
	#main-login, #main-reg {
	    margin: auto;
	}
}
@media screen and (max-width: 328px) {
	.img-profile-page {
	    width: 65px;
	    height: 65px;
	}
	.statistics-profile-page-identify h1 {
	    font-size: 15px;
	}
	#main-login {
	    width: 220px;
	}
	.video-post {
	    height: 328px;
	}
	.info-invite-relationship {
	    width: 220px;
	}
	#main-container-relationship .options-invited .label-invited {
	    /*width: 180px;*/
	}
	#statistics-profile-page-component-container-lg {
	    display: block;
	    width: 210px;
	}
	.statistics-profile-page-component {
	    width: 50px;
	}
	.input-container-radio {
	    width: 100px;	
	}
	.statistics-profile-page {
	    width: 170px;
	}
	.pop-up-component-header-default {
	    width: 298px;
	}
	.comment-send input[type="text"] {
	    width: 65%;
	}
	.comment-users {	    
		width: 280px;
    	margin-left: 20px;
	}
	.user-identify-comment {
	    width: 230px;
	}
	.user-identify-comment.user-identify-comment-feed {
	    width: 127px;
	}
}
@media screen and (max-width: 328px){
	.noti-div-elipsis {
		margin-right: 5px;
	}
	.video-post {
	    height: 328px;
	}
	.noti-div-name span{

		font-size: 10pt;

	}
	.noti-div-name{

		align-self:center; 
		align-items: center;
		width: 100%;
	}
	.noti-hour a span{
		font-size: 9pt;
     }
     .noti-hour a span:hover{
     	text-decoration: none;
     }
    
   .noti-card-first{
	display: none;
    position: absolute;
	background-color: #242526;
	width: 360px;
    height: 470px;
    padding: 20px;
    right: -90px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #00000033;
}
.couple-invite-icon-one{
		background-color: #800080;
		
	    width: 40px;
	    height: 40px;
	    position: relative;
	    
	    padding: 20px;
	   border-radius: 5px;
	   
}
#ident-profile-1 {
	    flex-direction: row;
	    text-align: center;
	    font-size: 16px;
	    margin-right: 4px;
	}
	.couple-invite-icon-one {
	background-color: #800080;
    width: 40px;
    height: 40px;
    position: relative;
    padding: 20px;
    border-radius: 5px;
   

}
.circle{
	border-radius: 50%;
}
.profile-name-1{

	font-size: 16px;
	
	width: 150px;
}
.card-p{
	background-color: transparent;
	margin: 0 auto;
	/*width: 300px;*/
	border: none;
}

}
@media screen and (max-width: 320px){
	.post-cover {
    	height: 320px;
	}
	.video-post {
	    height: 320px;
	}
}
@media screen and (max-width: 768px){
	.card-p{
		background-color: transparent;
		width: 100%;
		border: none;
	}
	.page-card-header {
	    background-color: transparent;
		margin-bottom: 0;
	}
	.video-container-component {
	    height: 80vh;
	    overflow-y: auto;
	    overflow-x: hidden;
	}
	.comment-users {
	    width: 270px;
	    margin-left: 53px;
	}
	.comment-users.comment-blade {
	    width: 90%;
	    margin-left: 5%;
	}
}
@media screen and (max-width: 500px) {
	.video-post {
	    height: auto;
	}
	.title h1 {
	    font-size: 30px;
	}
	.ul-left li.title h1 {
	    font-size: 28px;
	}
	.fa-24 {
	    font-size: 20px;
	}
	.user-tassumir img {
	    width: 30px;
	    height: 30px;
	}
	.header-main-component {
	    height: 45px;
	}
	.title h1 {
	    margin-left: 0px;
	    margin-bottom: 10px; 
	}
	.ul-left li {
	    margin-top: 3px;
	}
	.number-notification span {
	    font-size: 11px;
	}
	.post header .first-component .page-identify h1 {
	    font-size: 13px;
	}
	.seguir-a {
	    font-size: 15px;
	    margin-top: 0;
	    margin: 0;
	}
	.description-couple h2 {
	    font-size: 12px;
	}
	.card-post p {
	    font-size: 12px;
	}
	.comment-user-comment.comment-user-comment-feed p {
	    font-size: 11px;
	    max-width: 160px;
	}
	.interaction-numbers li a {
	    font-size: 13.5px;
	}
}
@media screen and (max-width: 470px) {
	.post header .first-component .page-identify h1 {
	    font-size: 14px;
	    margin-top: 9px;
	}
	.edit-profile-mobile {
		font-size: 13px;
		margin: auto;
	}
	.btn-a-default {
		font-size: 12px;
	}
	.statistics-profile-page-identify {
	    margin-top: 8px;
	}
}

@media screen and (max-width: 1200px) {
	.aside-left, .aside-right {
	    width: 267px;
	}	
}

@media screen and (max-width: 540px) {
	.post {	    
		border: none;
		border-radius: 0;
		/*border-top: 1px solid #343a40;*/
	}
	#main-container-page .card, 
	#main-container-page .data-statistics,
	#more-description-page {
		background-color: transparent;
	}
	#main-container-page .data-statistics {
		padding: 0;
	}
	.statistics-profile-page-component h2 {
	    font-size: 12px;
	    /*text-transform: uppercase;
	    font-weight: bolder;*/
	}
	.card-page {
	    margin-top: 0;
	    margin-bottom: 5px;
	}
	.statistics-profile-page {
	    width: 95%;
	    margin-bottom: 0;
	    margin-right: 0;
	}
	.description-couple p {
	    margin-left: 0px;
	    padding: 0 10px;
	    /*text-align: center;*/
	}
	.description-couple {
		margin: -7px auto 5px;
	}
	#btn_seguir {
	    max-height: 38px;
	    height: 40px;
	    padding: 0;
	    min-height: 0;
	}
	#btn_follwing {
		width: 50%;
	}
	.suggest-slide a div {
	    border-radius: 2px;
	    font-size: 13px;
	    width: 56%;
	}
	#btn_seguir, 
	#main-container-page .more-options-profile-btn {
		border-radius: 4px;
	}
	.li-component-suggest div.sugest_component {
	    width: 60px;
	    height: 60px;
	    margin: 5px auto;
	}
	.img-profile-page {
	    width: 75px;
	    height: 75px;
	}
	#button-options-page {
		width: 90%;
		margin: auto;
	}
	.description-couple p {
		font-size: 13px;
	}
	#button-options-page .more-options-profile-btn {
		height: 34px;
		background-color: transparent;
	    border: 1px solid #222629;
	}
	.statistics-profile-page-identify {
	    margin-top: 2px;
	    margin-bottom: 2px;
	}
	#main-container-page .more-options-profile-btn {
		height: 39px;
	}
	#statistics-profile-page-main {
		width: 68%;
		margin-left: 0;
		margin-right: 0;
	}
	.img-profile-page {
	    margin: 0;
	    margin-left: 10px;
	}
	#main-profile .component-card {
	    margin-bottom: 4px;
	}
	.options-profile-btn-center .edit-profile-mobile {
		font-weight: bolder;
	}
	.content-profile-photo {
	    width: 75%;
	}
	.menu-footer-main ul {
	    /*margin-top: 1px;*/
	}
	.profile-photo-container {
		margin-left: 10px;
	}
	.component-card {
		border-radius: 0;
	}
	.button-default-tassumir-text {
	    font-size: 12px;
	}
	.inform-profile h3, .inform-profile p {
	    font-size: 13.5px;
	}
	.user-account-container-img {
	    width: 24px;
	    height: 24px;
	}
	.time-posted {
	    font-size: 10px;
	}
	.distinctiv {
	    border: 2px solid #000;
	}
	.a-more-option-profile {
		font-size: 13px;
	}
	#more-option-profile-component-pop-up {
		width: 94%;
	    height: 45%;
	    position: absolute;
	    margin: auto;
	    bottom: 46px;
	    border-radius: 0;
	    left: 50%;
	    -o-transform: translateX(-50%);
    	-ms-transform: translateX(-50%);
    	-moz-transform: translateX(-50%);
    	-webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	}
	#more-option-profile-component-pop-up,
	#more-option-profile-component-pop-up header {
	    border-top-right-radius: 25px;
	    border-top-left-radius: 25px;
	}
	#more-option-profile-component-pop-up header {
		margin-top: -1px;
	}
	#more-option-profile-component-pop-up header h1 {
	    font-size: 15px;
	    font-weight: bolder;
	}
	#refresh-profile-photo-id {
	    display: block;
	    background-color: #18191a;
	    margin-top: 5px;
	    margin-bottom: 0px;
	}
	.video-container {
	    margin-bottom: 10px;
	}
	.tv-video-cont {
	    height: 417px;
	}
	.nav-video-option {
	    overflow: auto;
	}
	.nav-video-option ul {
	    width: 415px;
	}
	.nav-video-option::-webkit-scrollbar {
	    width: 0;
	    height: 0;
	}
	#options-profile-mobile-user-log,
	.profile-item-center, .options-component-profile {
		width: 80%;
		max-width: 65%;
	}
	.profile-options-button {
	    width: 40%;
	    border-radius: 4px;
	}
	.options-component-profile {

	}
	#options-profile-mobile-user-log.request-option-active {
		width: 96%;
    	max-width: 100%;
	}
	.profile-item-center {
		max-width: 90%;
	}
}
@media screen and (min-width: 2000px) {
	.aside-left {
	    left: 280px;
	}
	.aside-right {
	    right: 280px;
	}
	.menu-header {
		margin-right: 248px;
	}
	.ul-left {
		margin-left: 240px;
	}
}
@media screen and (max-width: 1050px) {
	#app-log-reg {
	    width: 100%;
	}
}
@media screen and (max-width: 330px) {
	.post header .first-component {
	    width: 268px;
	}
}
@media screen and (max-width: 520px) {
	.post-cover.post-cover-post-index {
	    height: auto;
	}
	.post-cover.post-cover-post-index img {
	    height: auto;
    	position: relative;
	}
	#main-reg {
	    margin: 35px auto 10px;
	}
}
@media screen and (min-width: 2400px) {
	.aside-left {
	    left: 480px;
	}
	.aside-right {
	    right: 480px;
	}
	.ul-left {
		margin-left: 420px;
	}
	.menu-header {
		margin-right: 450px;
	}
}
@media screen and (max-width: 300px) {
	.content-profile-photo {
	    width: 66%;
	}
	.page-identify {
	    width: 145px;
	}
	.info-post {
	    width: 95%;
	}
	.last-component {
		margin-right: 5px;
	}
	.time-posted {
	    font-size: 11px;
	    width: 58%;
	}
	.post header .first-component {
	    width: 230px;
	}
	.content-profile-photo h1 {
	    font-size: 11px;
	}
}
@media screen and (max-width: 540px) {
	.stories-about-talking nav,
	.stories-about-talking nav ul {
	    background-color: #18191a;
	    margin-top: 2px;
    	margin-bottom: -5px;
	}
	.button-default-tassumir {
	    max-width: 220px;
	}
	.options-profile-btn {
	    width: 48%;
	}
	#options-profile-btn-edit-profile {
	    width: 52%;    
	    min-width: 151px;
	}
	#options-profile-mobile-user-log {
	    min-width: 254px;
	}
}
@media screen and (max-width: 420px) {
	.video-post video {
		max-height: inherit;
		max-height: 90vh;
		background-color: #000;
	}
}
@media screen and (min-width: 540px) {
	.post-cover {
	    height: 538px;
	}
	.seguir-a {
	    margin-top: 3px;
	    font-weight: bolder;
	}
	.post-cover.post-cover-post-index {
		height: auto;
	    margin: auto;
	    max-height: 530px;
	    overflow: hidden;
	}
	.post-cover.post-cover-post-index.post-cover-imgless {
	    height: 275px;
	    background-color: #343a40;
	}
	.post-cover-post-index img {
	    height: auto;
	    position: relative;
	}
	.video-post video {
	    position: relative;
	    width: 100%;
	    max-height: 560px;
	    height: auto;
	    contain: inherit;
	}
	.post-video {
		border-right: none;
		border-left: none;
	}
	.video-post {
	    height: auto;
	}
	.video-post {
	    height: auto;
	    position: relative;
	    background-color: #18191a;
	}
}
@media screen and (min-width: 720px) {
	.menu-header ul li.mobile-lg-notify {
	    display: none;
	}
	.menu-header ul li.mobile-hidden-notify-icon {
	    display: block;
	}
}
@media screen and (min-width: 1024px) {
	#notification-header-icon-container {
		display: block;
	}
	.option-profile-menu {
	    background-color: #242526;
    	border-radius: 5px;
	}
}
@media screen and (max-width: 1024px) {
	.menu-footer {
		display: block;
	    background-color: transparent;
	}
	.menu-footer-main {
	    background-color: #242526;
	}
	#main-profile header.card {
		background-color: transparent;
	}
}
@media screen and (max-width: 720px) {
	#login-register {
	    background-color: #3b3b3b;
	    border: 1px solid #3b3b3b;
	}
	.header-main {
	    border-bottom: 1px solid #18191a;
	}
	.container-li-dest {
	    width: 57px;
	}
	#option-btn-profile {
	    font-size: 12px;
	    font-weight: bolder;
	}	
	.name-page-dest {
		display: block;
	    width: 98%;
	    font-size: 10px;
	    color: #fff;
	    margin-top: -5px;
	    font-weight: bolder;
	    text-transform: lowercase;
	}
	#profile-cover-alert-no-img {
	    /*margin-left: 0px;*/
	}
	.alert-info-about-us {
	    background-color: #242526;
	}
	.menu-footer {
	    background-color: transparent;
	}
	.menu-footer-main {
	    background-color: #000;
	    border-top: 1px solid #18191a;
	}
	.number-notification {
	    top: -10px;
	    right: -15px;
	}
	.filter-main-search-mobile::-webkit-scrollbar {
		width: 0px;
		height: 2px;
	}
	.filter-main-search-mobile::-webkit-scrollbar-thumb {
		width: 0px;
	}
}
@media screen and (max-width: 360px){
	.comment-user-comment.comment-user-comment-feed p {
	    font-size: 11px;
	    max-width: 140px;
	}	
}
@media screen and (max-width: 470px){
	.btn-a-default {
	    font-size: 11px;
	}	
	.comment-users {
	    width: 71%;
	    min-width: 260px;
	}
}
@media screen and (max-width: 540px){
	.invisible-component {
		display: none;
	}
	.option-profile-menu ul {
	    /* background-color: #242526; */
	    padding: 10px 0;
	    border-top: 1px solid #2f3338;
	    border-bottom: 1px solid #2f3338;
	}
	.post-page-container {
	    margin-left: 0%;
	    background-color: #18191a;
	}
	#main-profile header.card.profile-card,
	#main-profile #card-profile-option,
	.post-page-container {
		background-color: transparent;
	}
	#main-profile .post-page-container {
		width: 100%;
	}
	.alert-info-about-us{
	    width: 100%;
	    margin: -10px auto 10px;
	    background-color: #18191a;
	    padding-top: 5px;
	    border-radius: 0;
	}
	.comment-send input[type="text"] {
	    width: 75%;
	}
	.statistics-profile-page-identify h1 {
	    font-size: 16px;
	    margin-bottom: 0;
	    margin-top: 0px;
	    padding: 2px 10px;
	    padding-left: 0;
	}
	.data-statistics .statistics-profile-page-component {
	    width: 31%;
	    margin-left: 2%;
	    margin-right: 0;
	}
	#btn_follwing_container {
	    width: 62%;
	    max-width: inherit;
	}
	.header-main-component-n {
	    height: 45px;
	}
	#img-profile-header-search {
		margin-top: 0;
	}
	.header-main-component-n {
	    background-color: #000000;
	}
	.f-footer {
	    font-size: 18px;
	}
	#refresh-profile-photo-id.invisible-component {
		display: none;
	}
	.header-stories {
		background-color: #18191a;
	}
}
@media screen and (max-width: 330px){
	.video-post video {
	    max-height: 90vh;
	}	
}
@media screen and (max-height: 490px){
	.video-post video {
	    max-height: 77vh;
	}	
}
@media screen and (max-width: 500px){
	.alert-info-about-us {
	    min-width: 100%;
	}
}

@media screen and (max-width: 328px) {
	.statistics-profile-page-identify h1 {
	    font-size: 15px;
	}
}