@charset 'utf-8';
@media screen and (max-width: 1150px) {
	.aside {
		display: none;
	}
}
@media screen and (max-width: 530px) {
	.main {
		width: 100%;
		margin-top: 6px;
		margin-top: 0;
	}
	.user-account, .search-lg,
	.mobile-hidden, .menu-header ul li.mobile-hidden,
	.ul-left li.mobile-hidden {
		display: none;
	}
	.ul-left {
	    margin-left: -30px;
	}
	.title h1 {
	    font-size: 25px;
	}
	.card.stories-about-talking {
		margin-top: 0px;
	}
	.menu-header ul li {
	    display: block;
	    margin-left: 5px;
	}
	.menu-header ul {
	    margin-left: -40px;
	}
	.post {
	    width: 100%;
	}
	.card-post p {
	    padding: 5px 10px;
	}
	.card {
		border-radius: 0px;
		margin-top: 8px;
	}
	.user-tassumir {
	    margin-right: 0px;
	}
	.row {
		/*margin-left: 0;
		margin-right: 0;*/
	}
	.fa-24 {
	    font-size: 22px;
	}
	.stories-about-talking nav ul li {
	    /*height: 80px;
    	width: 80px;
	    border-radius: 50%;*/
	}
	.headline {
		display: none;
	    border-bottom-right-radius: 50px;
	    border-bottom-left-radius: 50px;
	}
	.stories-about-talking nav ul li .img-back-stories, 
	.stories-about-talking nav ul li {
		/*border-radius: 50%;    
		border: 1px solid #800080;*/
	}
	.more-option-post {
	    right: 10%;
	}
	.stories-about-talking nav {
		overflow: auto;
	}
	.mobile-header-icon {
		margin-top: 10px;
	}
	.ul-left li {
		margin-top: 10px;
	}
	.interaction-user ul {
	    width: 100%;
	    padding-left: 0;
	    justify-content: space-between;
	}
	.interaction-user .content-button a h2 {
	    font-size: 11px;
	}
	.interaction-user .content-button {
	    width: 95px;
	}
	.comment-send {
		display: none;
	}
	.interaction-user {
	    border-bottom: none;
	}
	.stories-about-talking nav ul {
	    /*width: 390px;*/
	    width: 520px;
	    margin-bottom: 0;
	    padding-left: 25px;
	}
	.stories-about-talking header h1 {
	    font-size: 15px;
	}
	.stories-about-talking nav ul li:nth-child(1) {
	    
	}
	.stories-about-talking nav ul li .img-back-stories {
	    /*width: 100%;
	    height: 100%;*/
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	    position: relative;
	    margin-top: 0;
	    margin-left: 0;
	    padding-left: 10px;
	    padding-top: 10px;
	}
	.img-profile-user-married img {
	    width: 60px;
	    height: 60px;
	}
	.profile-name {
	    font-size: 15px;
	    width: 170px;
	    padding-left: 10px;
	}
	.inform-profile {
	    margin-left: 20px;
	}
	.profile-follow {
		padding-left: 10px;
	}
	.img-profile-user-married {
	    width: 60px;
	}
	.identify-statist-profile-page {
	    width: 150px;
	}
	.img-profile-user-married h3 {
	    width: 54px;
	}
	.identify-statist-profile-page ul {
		padding-left: 0px;
	}
	.identify-statist-profile-page ul li {
	    width: 75px;
	}
	.statistics-profile h2 {
	    font-size: 13px;
	}
	.add-edit-profile {
	    bottom: -15px;
	    right: 2px;
	}
	.stories-about-talking nav ul li {
	    width: 90px;
    	height: 140px;
	}
	.btn-a-default {
	    display: block;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	}
	#img-profile-container {
	    width: 80px;
	    height: 80px;
	    position: relative;
	    margin-top: 0;
	    margin-left: 0;
	    padding-left: 10px;
	    padding-top: 10px;
	}
	.img-profile-user-married img {
	    width: 60px;
	    height: 60px;
	}
	.profile-name {
	    font-size: 15px;
	    width: 170px;
	    padding-left: 10px;
	}
	.inform-profile {
	    margin-left: 10px;
	}
	.profile-follow {
		padding-left: 10px;
	}
	.img-profile-user-married {
	    width: 60px;
	}
	.identify-statist-profile-page {
	    width: 150px;
	}
	.img-profile-user-married h3 {
	    width: 54px;
	}
	.identify-statist-profile-page ul {
		padding-left: 0px;
	}
	.identify-statist-profile-page ul li {
	    width: 75px;
	}
	.statistics-profile h2 {
	    font-size: 13px;
	}
	.card, .pop-up-component {
	    width: 100%;
	}
}
@media screen and (max-width: 360px) {
	#main-login {
		width: 85%;
	}
	.input-container {
	    width: 210px;
	}
}
@media screen and (max-width: 720px) {
	.suggest-slide {
		display: block;
	}
}