@charset 'utf-8';
body {
	--background-dark-main: #18191a;
	--background-dark-text: #efefef;
	--background-dark-input: #3a3b3c;
	--background-dark-card: #242526;
	--box-shadow-main: #00000033;
	--background-main-dark: #000;
	--border-gradient: linear-gradient(90%, #800080, #d708d7);
}
#app {
	background-color: var(--background-dark-main);
}
#app-log-reg {
	background-color: #3b3b3b;
}
#app-log-reg,
#app {
	width: 100vw;
	height: auto;
}
#body-login {
	
}
#body-reg {
	
}
#body-login,
#body-reg {
	background-color: #3b3b3b;	
}
#main-reg-container {
    width: 570px;
    height: 100%;
    margin: auto;
    display: block;
}
.input-text-default {
	background-color: var(--background-dark-input);
	border: 1px solid var(--background-dark-input);
	padding: 8px;
}
.input-full {
	width: 100%;
	border-radius: 5px;
	color: #fff;
}
.enter-login {
	color: #fff;
}
#login-enter {
	background-color: #800080;
    border: 1px solid #800080;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    font-weight: bolder;

	text-align: center;
}

#register-enter-container {
	width: 45%;
	margin-top: 15px;
}
#register-enter {
	width: 100%;
	background-color: #3a3b3c;
	border-radius: 5px;
	padding: 8px;
	color: #fff;
	border: none;
	text-align: center;
}

#forget-password {
	width: 45%;
	margin-top: 15px;
}
#forget-password a h1 {
	text-decoration: underline;
}
#forget-password h1 {
	font-size: 14px;
	margin-top: 12px;
	color: #efefef;
}
#forget-password h1:hover {
	text-decoration: underline;
}
#main-login-container {
	width: 850px;
    height: 100%;
    margin: auto;
    margin-left: 170px;
    display: block;
}
.risk {
	position: relative;
	margin-top: 20px;
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #606060;
}
.input-login {
	background-color: #242526;
}
.risk h2 {
	padding: 10px;
	font-size: 12px;
	color: #fff;
    background-color: #3b3b3b;
}
#login-register {
	background-color: #800080;
    border: 1px solid #800080;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    font-weight: bolder;
    text-align: center;
}
#title-login h1,
.title-log-reg h1 {
	width: 150px;
    text-align: center;
    color: #fff;
    margin: 5px auto;
}
#title-login i,
#title-login h1, 
.title-log-reg i, 
.title-log-reg h1 {
	display: inline-block;
}
#title-login i {
	margin-right: 10px;
}
#title-login .title-final {
	color: #800080;
}
#title-login div, 
.title-log-reg div {
	width: 200px;
    margin: 5px auto;
}
.form-group label {
	color: #fff;
}
.title-with-color{
	color: #800080;
}
* {
	box-sizing: border-box;
	outline: none;
	font-family: "nunito", sans-serif;
}
.aside, .header-main {
	position: fixed;
	z-index: 100;
	border: 1px solid #efefef;

}
 .header-main-n {
	position: fixed;
	z-index: 100;
	border: 1px solid #efefef;
	top: 0px;
}


.clearfix::after {
	display: block;
	content: '.';
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	height: 0;
	overflow: hidden;
}
.clearfix ul li a{
	background-color: transparent;
}
.clearfix-n::after {
	display: block;
	content: '.';
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	height: 0;
	overflow: hidden;
}
.clearfix-n ul li a{
	background-color: transparent;
}
.main {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 660px;
	border: 1px solid #000;
	margin: 20px auto;
}
.aside, .main, .header-main {
	border: none;
}
.header-main-n {
	border: none;
}
.aside-left {
	left: 20px;
}
.aside-right {
	right: 20px;
}
.aside-left ul {
	width: 210px;
	padding-left: 0;
}
.aside-notification-right{

	right: 10px;
	width: 280px;
	height: 70vh;
	top: 85px;


}
.aside-notification{
	position: absolute;
	z-index: 100;
	border: 1px solid #efefef;
}
.aside nav {
	border-bottom: 1px solid #909090;
}
.aside-left nav {
	border-bottom: 1px solid #909090;
    width: 240px;
}
.aside nav footer {
	margin-bottom: 5px;
}
.aside-right,
.aside-left {
	width: 287px;
	height: 100vh;
	top: 85px;
	overflow-y: auto;
}
.aside-right::-webkit-scrollbar {
	width: 0px;
}
.aside-right::-webkit-scrollbar-thumb {

}
.first-aside-right {
	margin-top: 20px;
}
.container-main {
	background-color: #343a40;
    background-color: #18191a;
    width: 100vw;
    height: auto;
    overflow: hidden;
}
.header-main-component {
	height: 60px;
	width: 100%;
	background-color: #242526;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

}
.header-main-component-n {
	height: 60px;
	width: 100%;
	background-color: #242526;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	

}
li {
	list-style-type: none;
}
.li-component-aside, 
.li-component-aside a {
	padding: 10px;
}
.li-component-aside {

}
.li-component-aside a {
	padding: 10px;
	color: #fff;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.title {
	
}
.ul-left {
	margin: 5px;
	float: left;
}
.ul-left li {
	position: relative;
	display: inline-block;
	margin: 5px;
	float: left;
}
.title h1 {
	color: #fff;
    display: inline-block;
    margin-left: 5px;
    font-weight: bolder;
}
.title h1 .title-final {
	color: #fd09fd;
}
.aside-left .li-component-aside-active {
	background-color: #800080;
	border-radius: 5px;
}
.l-5 {
	margin: 5px;
	float: left;
}
.l-10 {
	margin: 10px;
	float: left;
}
.menu-header {
	float: right;
	padding: 10px;
}
.menu-header ul li {
	display: inline-block;
	margin-left: 5px;
} 

/*.menu-header ul ul{
	position: absolute;
	visibility: hidden;

}
.menu-header ul li:hover ul{
	visibility: visible;
}
.menu-header ul ul li{
	display: block;
	width: 200px;
	padding: 20px;
}
.menu-header ul ul li{

	float: none;
	border-bottom: solid 1px #ccc;
}
label[for="hugo"]{
	padding: 5px;
	background-color: #222;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	height: 50px;
}
#hugo{
	display: none;
}
label[for="hugo"]{
	display: none;
}*/



.fas,
.far,
.fa,
.fab {
	color: #fff;
}
.fa-20 {
	font-size: 20px;
}
.fa-24 {
	font-size: 24px;
}
.fa-32 {
	font-size: 32px;
}
.fa-18 {
	font-size: 18px;
}
.fa-16 {
	font-size: 16px;
}
.fa-14 {
	font-size: 14px;
}
.fa-12 {
	font-size: 12px;
}
.r-5 {
	float: right;
    margin: 5px;
}
.input-search,
.input-search .input-text {
	border: none;
    background-color: var(--background-dark-input);
    border-radius: 20px;
    margin-top: 2px;
    color: #fff;

}
.input-search .input-text {
    padding: 8px;
}
.input-search {
	margin-left: 20px;
}
.search-mobile .input-search {
	width: 100%;
	margin: auto;
}
.fa-search-main {
	margin-left: 10px;
	margin-top: 10px;
	color: #efefef;
}
.user-tassumir {
	margin-top: 0;
	margin-right: 30px;
}
.user-tassumir a {
	color: #fff;
}
.fa-icon-aside-left {
	margin-left: 20px;
}
.page-cover {
	position: relative;
	width: 40px;
	height: 40px;
}
.page-cover ~ h2 {
    color: #6c757d;
    font-size: 12px;
    width: 140px;
}
.page-cover ~ a h1.name-page {
    color: #fff;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 2px;
}
.li-my-page {
	width: 300px;
}
#my-pages .title {
	color: #efefef;
	font-size: 15px;
	padding: 10px;
	padding-left: 20px;
	padding-top: 20px;
}
.card-couple {
	
	padding: 10px;
	background-color: #242526;
	border-radius: 10px;

}
.card-notifications{
	
	position: absolute;
	justify-content: flex-end;
	align-content: flex-end;
	padding: 10px;
	background-color: #3D3D3D;
	border-radius: 10px;
	display: block;
	margin-left: 100px;
	margin-top: 100px;
	z-index: 100;

}
.card-couple-del {
	margin-top: 20px;
	
	padding: 10px;
	background-color: #242526;
	border-radius: 10px;


}
.card-flex-edit {
	
    flex-direction: row;
}
.couple-btn-space {
	display: flex;
	margin-top: 10px;
	}
.couple-publish-btn  {

	background-color: #800080;
    position: relative;
    color: #fff;
    padding: 10px;
    width: 103px ;
   border-radius: 5px;
   text-align: center;


   }
   .couple-publish-btn-edit  {

	background-color: #800080;
    position: relative;
    color: #fff;
    padding: 10px;
    width: 145px ;
    border-radius: 5px;

   }
   .couple-pub{
   	    justify-content: flex-start;
   		align-content: flex-start;
   		color: #efefef;
   		margin-left: 23px;
   		margin-top: 10px;
   		margin-bottom: 10px;
   		font-size: 12pt;
   }
   .checkbox-style{
   	    margin-top: 5px;
   		background-color: #800080;
   		color: #fff;
   		padding: 10px;

   }
   /*input[type=checkbox]:checked + label{

   	    margin-top: 5px;
   		background-color: #800080;
   		color: #fff;
   		padding: 10px;
   }*/
   .couple-publish-btn-edit a {

    color: #fff;  
    font-size: 9pt;
    text-align: center;
    
   }
   .couple-publish-btn-edit-2  {

		background-color: #800080;
	    position: relative;
	   	padding: 10px ;
	   	border-radius: 5px;

	 }

   .couple-publish-btn-edit-2 a {
   		text-align: center;
	   	margin-left: 10px;
	    color: #fff;
	    font-size: 9pt; 
   }

   .couple-publish-btn a {
    color: #fff;
    text-align: center;
   }
.icon-img-comment{
    width: 10%;
    padding: 8px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
	background-color:#606060;
	position: absolute;
	display: flex;
	margin-left: 300px;

}
   
.couple-free-space{
	
	margin-right: 100px;
	margin-left: 100px;
}
.couple-invite-icon-one {
	display: none;
	background-color: #800080;
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 100px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;

}
.couple-invite-icon {
	background-color: #800080;
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 100px;
    padding: 20px;
   border-radius: 5px;


}
.couple-history {

	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.couple-history h2{
	color: #fff;
	font-size: 13pt;
}
.couple-history-input{
   
    background-color: transparent;
	padding: 10px;
	width: 500px;
	height: 100px;
	border: none;
	color: #fff;
}
.couple-img-check{

	padding:7px;
}
.couple-img-check2{
	padding-right:8px;
}
.couple-check{
	display:flex;
	justify-content:space-between;
	align-items:center ;
}
.couple-check-i{
	font-size:14pt;
}
.couple-check-delete-btn{
	padding-bottom: 10px;
}
.couple-check-delete-btn2{

	display:flex;
	justify-content:space-between;
	align-items:center ;
}
.couple-btn-check{
	width:100%;
}
.check{
	padding: 10px;
}
.check-width{
	width:100%;
}
.couple-list-search{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.couple-list-search2{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	width: 300px;
	padding:8px;
}
.couple-list-span{
	font-size:12pt;
	color: #fff;
}
.couple-list-span-head{
	color: #fff;
}
.couple-search-li-aside-left{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.couple-seach-span{
	color:#efefef;
}

.allSearch-li{
	display:flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.allSearch-li2{
	display:flex;
	justify-content:space-around;
	align-content:center;
}

.couple-separator{
	padding-top: 5px;
    padding-bottom: 5px;
	border-bottom: 1px solid #717171;
	justify-items: flex-end;
	justify-content: flex-end;
	display: flex;
	display: none;
}

.couple-numbering-text{

    background-color: transparent;
    justify-items: flex-end;
    justify-content: flex-end;
    color: #717171;
}
.couple-head {
	background-color: #242526;
	border-radius: 10px;

}
.couple-head-del {
	background-color: #242526;
	padding: 20px;
	border-radius: 10px;
	
}
.couple-head-edit {
	background-color: #242526;
	padding: 20px;
	border-radius: 10px;
}
.couple-foto-edit {
	position: relative;
	width: 100px;
	height: 100px;
	margin-top: 9px;
}
.interaction-user ul.ul-interaction-user {
	justify-content: space-around;
    margin-right: 0;
    width: 90%;
    border-bottom: 1px solid #343a40;
    border-top: 1px solid #343a40;
    margin: auto;
}
.couple-info{

	flex-direction: row;
	margin-top: 10px;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
	padding: 20px;
	background-color: #3D3D3D;
	border-radius: 10px;
}
.couple-info-inputs-2b{
	display: flex;
	justify-content: space-evenly;
}
.couple-info-inputs-3b{
	display: flex;
	justify-content: space-around;
	align-items:center;
}
.couple-info-inputs-3a{
	display: flex;
	justify-content: flex-start;
	align-items:center;
}



.couple-info-inputs{
	display: flex;
	justify-content: space-around;
}
.card-help{
	background-color: #242526;
	margin-top: 15px;
	border-radius: 10px;
}
.couple-info-inputs-btn{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.couple-input-edit{

	background-color: var(--background-dark-input);
	border: 1px solid var(--background-dark-input);
	border-radius: 20px;
	padding: 8px;
	width: 60%;
	height: 60%;
	color: #fff;
}
.couple-input-edit-select{

	background-color: var(--background-dark-input);
	border: 1px solid var(--background-dark-input);
	border-radius: 20px;
	width: 60%;
	height: 60%;
    color: #fff;
    padding: 8px;
    margin-left: 30px;

}
.send-them{
	justify-content: flex-end;
	align-content: flex-end;
}
.couple-input-edit-select-n{

	background-color: var(--background-dark-input);
	border: 1px solid var(--background-dark-input);
	border-radius: 20px;
	width: 300px;
    color: #fff;
    padding: 8px;
    
}

.couple-name{
	font-weight: bold;
	color: #fff;
	font-size:14pt;
}


.couple-name-p{
	color: #fff;
	font-size:14pt;
}
.couple-name-pp{
	color: #fff;
	font-size:12pt;
}

.couple-title-edit{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	color: #efefef;
	font-size: 14pt;
	margin-top: 10px;
}
.couple-title-edit-h{
	display: flex;
	justify-content: center;
	align-content: center;
	color: #efefef;
	font-size: 16pt;
	margin-top: 10px;
	margin-bottom: 30px;
}
.couple-title-edit-h3{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	color: #efefef;
	font-size: 10pt;
	margin-top: 10px;
}

.couple-foto-small {
	position: relative;
	
	margin-top: 10px;

}
.couple-publi-follower{
	display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

}
.couple-input-text {
	margin-top: 10px;
	display: flex;
}
.couple-input{

	padding: 10px;
	width: 518px;

	color: #fff;
   
    background-color: var(--background-dark-input);
    border-radius: 20px;

}
.couple-input-2{

	background-color:#fff;
	border: 1px solid var(--background-dark-input);
	border-radius: 20px;
	padding: 8px;
	width: 518px;
	color: red;


}
.left-margin-coupleInfo{
	display: flex;
    justify-content: space-around;
    margin-top: 20px;
	flex: 2;
	padding: 10px;
	margin-left: 10px;
	background-color: #fff;
	margin-top: 10px;
	position: relative;
	width: 190px;
}
.couple-name{
	
	color: #efefef;
    font-size: 13px;
    width: 145px;
    

}
.couple-header{
	justify-content: space-between;
}
.edit-couple a{

	background-color: #800080;
    position: relative;
    color: #fff;
    padding: 10px;
    	border-radius: 5px;



}
.couple-status {

	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;

	
}
.couple-actual-status {
	 color: #efefef;
    font-size: 14px;
    
    align-items: center;
    justify-content: center;
}


.br-50, .circle {
	border-radius: 50%;
}
.br-10 {
	border-radius: 10px;
}
.aside header {
	margin-bottom: 15px;
    margin-top: 15px;
}
.aside header h1 {
	color: #fff;
	font-size: 14px;
}
.aside ul li h1 {
	color: #fff;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 2px;
}
.aside ul li h2 {
	color: #6c757d;
	font-size: 12px;
    width: 140px;
}
.aside nav footer a {
	color: #efefef;
	margin-top: 0;
	font-size: 12px;
	margin: 10px auto;
}
.img-full {
	position: absolute;
	width: 100%;
	height: 100%;
}
.img-20 {
	width: 20px;
	height: 20px;
}
.img-24 {
	width: 24px;
	height: 24px;
}
.img-26 {
	width: 26px;
	height: 26px;
}
.img-28 {
	width: 28px;
	height: 28px;
}
.img-32 {
	width: 32px;
	height: 32px;
}
.img-40{
	width: 40px;
	height: 40px;
}
.li-component-aside-right .page-cover,
.li-component-aside-right h1,
.li-component-aside-right  h2 {

}
.li-component-aside-right a {
	font-size: 13px;
}
.name-page {
	width: 200px;
}
.text-ellips {
	word-break: break-all;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.aside-right ul {
	margin-left: -34px;
    margin-bottom: 5px;
}
.aside nav.last-nav {
	border-bottom: none;
	padding-top: 15px;
}
.user-tassumir h1 {
	font-size: 13.5px;
	margin-top: 6px;
}
.user-tassumir img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid transparent;
}
.aside nav footer a:hover {
	transition: all ease 0.8s;
	text-decoration: underline;
}
.post-created img {
	width: 50px;
    height: 50px;
    margin-top: -45px;
    margin-right: 5px;
}
.fas.fa-icon-roxo {
	color: #fff;
}
.post-created {
	width: 85%;
	margin: auto;
	border-radius: 10px;
	padding: 10px;
}
.post-created li {
	position: relative;
	width: 32px;
	height: 32px;
	float: left;
	border-radius: 50%;
	background-color: #800080;
}
.post-created nav {
	border-top: 1px solid #efefef;
    margin-top: 5px;
    padding-top: 10px;
}
.post-created textarea {
	resize: none;
	padding: 2px 10px;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.post-created .last-menu {
	float: right;
}
.post-created ul {
	margin-bottom: 0;
}
.post-created ul:nth-child(1) {
	float: left;
}
.post-created textarea {
	width: 86%;
    max-width: 421px;
    background-color: #3a3b3c;
    border-radius: 50px;
    color: #fff;
}
.post-created .button-post {
	border: none;
	background-color: #800080;
	color: #fff;
	font-size: 13px;
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 20px;
}
.post {
	width: 100%;
	max-width: 540px;
	margin: 0px auto;
}
.post header .first-component {
	position: relative;
	width: 268px;
	margin-top: 0;
}
.post header .first-component .page-cover {
	position: relative;
	width: 50px;
	height: 50px;
}
.post header .first-component .page-identify h1 {
	font-size: 14px;
    color: #fff;
    margin-bottom: 3px;
    margin-top: 5px;
    margin-right: 5px ;
    font-weight: bolder;
}
.page-identify {
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 10px;
	width: 190px;
}
.follow_page_post {
	margin: 0;
}
.time-posted {
	color: #909090;
	font-size: 12px;
}
.info-post {
	margin-top: -5px;
	width: 110px;
}
.card {
	background-color: #242526;
	margin-top: 20px;    
	width: 500px;
    margin: 10px auto 10px;
}
#stories-card {
	width: 650px;
    margin-bottom: -10px;
    margin-top: -10px;
    background-color: transparent;
    border: none;
}
.card-p{

	background-color: #242526;
	margin-top: 15px;
	border-radius: 10px;
	padding: 10px;

}
.move-right{
	margin-left: 100px;
}
.card-post {

}
.card-post p {
	color: #fff;
	padding: 10px;
	padding-top: 0;
	font-size: 14px;
}
.fa-option {
	cursor: pointer;
}
.more-option-post {
	display: none;
    position: absolute;
    background-color: var(--background-dark-input);
    width: 200px;
    padding: 10px;
    left: -200px;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 1px 2px #00000033;
}
.more-option-post-n {
	display: none;
    position: absolute;
    background-color: var(--background-dark-input);
    width: 340px;
    height: 420px;
    padding: 20px;
    right: -100px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #00000033;

}
.noti-card-first{
	display: none;
    position: absolute;
	background-color: #242526;
	width: 380px;
    height: auto;
    max-height: 470px;
    overflow-y: auto;
    padding: 20px;
    right: -100px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #00000033;
}
.noti-see-all-btn{
	display: flex;

	justify-content:center;
	align-items: center;
	
	padding:8px;
}

.change-look span:hover{
    text-decoration: none;
	cursor: pointer;
}
.more-option-post-n a {
	width: 100%;
	color: #efefef;
	text-align: center;
}
.more-option-post-n a:hover {
	text-decoration: underline;
}
.more-option-post-n li {
	text-align: center;
}

.more-option-post a {
	width: 100%;
	color: #efefef;
	text-align: center;
}
.more-option-post a:hover {
	text-decoration: underline;
}
.more-option-post li {
	text-align: center;
}
.last-component {
	position: relative;
	margin-right: 15px;
	margin-top: 15px;
}
.last-component-n {
	position: relative;
	margin-right: 5px;

}
.hidden {
	display: none;
}
.interaction-numbers {
	padding-top: 5px;
}
.interaction-numbers ul {
	padding-right: 30px;
}
.interaction-numbers ul {
	width: 95%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
    padding-left: 10px;
    margin: auto;
}
.interaction-numbers li {
	/*display: inline-flex;*/
}
.interaction-numbers li a {
	color: #fff;
	font-size: 13px;
}
.interaction-numbers li a:hover {
	text-decoration: underline;
}
.interaction-numbers li:nth-child(1) {

}
.interaction-numbers li:nth-child(2) {
}
.interaction-user .content-button {
	width: 120px;
	padding: 5px 10px 0;
}
.interaction-user .content-button a h2{
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 13px;
	margin-left: 5px;
	display: none;
}
.new-style-btn{
	text-align: center;
	background-color: #5D5D5D;
	color: #fff;
	padding: 8px;
	border-radius: 5px;


}
.new-style-btn-2{
	text-align: center;
	background-color: #800080;	
	color: #fff;
	border-radius: 5px;
	padding: 8px;


}
.new-style-btn-2a{
	text-align: center;
	background-color: #800080;	
	color: #fff;
	border-radius: 5px;
	padding: 8px;
	width: 125px;

}
.new-style-btn-2b{
	text-align: center;
	background-color: #800080;	
	color: #fff;
	border-radius: 5px;
	padding: 8px;
	width: 120px;

}
.interaction-user .content-button a {
}
.interaction-user li div.content-button {
	border-radius: 5px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
    /*background-color: #3a3b3c;
    border: 1px solid #606060;*/
}
.interaction-user li:nth-child(1) div.content-button {
	/*background-color: #800080;*/
	width: 90px;
	border-radius: 5px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
}
.interaction-user li:nth-child(2) div.content-button {
	/*background-color: #606060;*/
}
.interaction-user li:nth-child(3) div.content-button {
	/*background-color: #606060;*/
}
.interaction-user {
    padding-top: 5px;
    padding-bottom: 5px;
	justify-items: flex-start;
	justify-content: flex-start;
}
.interaction-user,
.interaction-numbers {
	width: 96.5%;
    margin: auto;
	/*border-bottom: 1px solid #606060;*/
}
.interaction-user ul {
	margin-bottom: 0;
}
.post-cover {
	position: relative;
    height: 498px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.post-cover img {
	
}
.video-post {
	width: 100%;
    height: 498px;
    margin-bottom: 10px;
    position: relative;
}
.video-post video {
	position: absolute;
	width: 100%;
	height: 100%;
	contain: strict;
}
.img-user-comment {
	position: relative;
	width: 34px;
	height: 34px;
	margin-top: 10px;
	margin-left: 15px;
}
.comment-send {
	width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment-send-couple {
	margin-top: 10px;
	flex-direction: row;
}
.comment-send-text {
	width: 80%;
    background-color: var(--background-dark-input);
    border-radius: 20px;
}
.comment-send input[type="text"] {
	width: 70%;
    padding: 8px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    color: #fff;
	background-color:transparent;
}

.comment-send-text-couple {
	width: 80%;
    background-color: var(--background-dark-input);
    border-radius: 20px;

}
.comment-send-couple input[type="text"] {
	width: 80%;
    padding: 9px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    color: #fff;
	background-color:#606060;
}
.comment-send .fa-img-comment {
	margin-right: 10px;
	margin-top: 8px;	
}
.stories-about-talking nav {
	
}
.stories-about-talking nav ul {
	position: relative;
   	margin-left: -20px;
    width: 655px;
}
.stories-about-talking nav ul li {
	position: relative;
	height: 180px;
	width: 110px;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #ffffff0d;
	margin-bottom: 10px;
}
.stories-about-talking nav ul li .img-back-stories,
.stories-about-talking nav ul li {
	border-radius: 10px;
}
.stories-about-talking nav ul li .img-back-stories {
	width: 200px;
	height:200px;
}
.stories-about-talking header h1 {
	color: #fff;
    font-size: 16px;
    padding: 10px 10px 5px;
}
.identify-cover {
	position: absolute;
	display: none;
    width: 35px;
    height: 35px;
    border: 4px solid #800080;
    z-index: 2;
    top: 10px;
    left: 10px;
}
.identify-cover img {
	border: 2px solid #fff;
}
.headline {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 100%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(0, 0, 0, 0.2);
}
.headline h2 {
	position: absolute;
	font-size: 11px;
	height: 50px;
	padding: 10px;
	width: 100%;
	color: #fff;
}
.see-all-stories {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	right: 10px;
	border: 1px solid #343a40;
	background-color: #242526;
	z-index: 2;
	box-shadow: 0 2px 8px var(--box-shadow-main);
}
.stories-about-talking {
	overflow: hidden;
}
.li-component-suggest {
    position: relative;
    width: 118px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #343a40;
}
.li-component-suggest div.sugest_component {
	position: relative;
	width: 60px;
	height: 60px;
	border: 4px solid #800080;
	margin: 10px auto;
}
.li-component-suggest img {   
	border: 2px solid #fff;
}
.suggest-slide {
	display: none;
}
.suggest-slide header h1 {
	color: #fff;
	font-size: 14px;
	padding: 10px;
    text-align: left;
}
.suggest-slide .name-suggest {
	font-size: 13px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
}
.suggest-slide a {
	width: 100%;
    text-align: center;
}
.suggest-slide ul {
	padding-left: 10px;
    width: 1045px;
}
.suggest-slide nav {
	width: 100%;
	overflow-x: auto;
	margin-bottom: 2px;
}
#main-login {
    float: left;
}
#main-login,
#main-reg {
    width: 320px;
    height: auto;
}
#main-reg {
    margin: 60px auto 20px;
}
#logo-login-form-lg {
	margin-top: 80px;
}
#title-login {
	display: none;
}
#img-profile-container {
	width: 110px;
	height: 110px;
	position: relative;
	margin-top: 15px;
	margin-left: 15px;
	background-color: #fff;
}
.alert-login {
	font-size: 12px;
	color: #fff;
}
.politic-privacy {
	font-size: 12px;
}
.img-profile {
	border: 0px solid #000;
}
.card-flex {
	justify-content: space-between;
    flex-direction: row;
}
.card-flex-pub{
	justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
}
.noti-flex{

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
}
.noti-flex-1{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px;	
}
.noti-span{
	font-size:13px;
	color: #fff;
}
.noti-div-name{
	align-self:center; 
	align-items: center;
}
.novi-div-image{
	position: relative;
	/*align-self:center;*/
	width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: #343a40;
}
.cover-login {
	position: relative;
	float: left;
	width: 480px;
	height: 480px;
	margin-left: 0px;
	margin-right: 40px;
}
.noti-flex-info{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
}
.noti-info-aside {
	width: 100%;
	margin-left: 0;
}
.noti-hour{
	flex-direction: row;
	justify-content: flex-start; 
	align-items: flex-start;
}
.noti-hour-1{
	flex-direction: row;
	justify-content: space-evenly; 
	align-items: flex-start;
}
.noti-btn-aceitar{
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	color: white;
	padding: 8px 20px;
	background-color: #800080;
}
.noti-btn-aceitar-1{
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	color: white;
	padding: 8px;
    width: 100px;
	background-color: #800080;
}
.noti-hour-1 {
	width: 270px;
}
.noti-hour-1 {
    margin-top: 15px;
}
.noti-btn-aceitar:hover {
	color: white;
	background-color: #800080;
    width: 100px;
}
.noti-btn-rejeitar{
    width: 100px;
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	color: white;
	padding: 8px 20px;
	background-color: #5D5D5D;
	
}
.noti-btn-rejeitar:hover{

	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	color: white;
	padding: 8px;
	background-color: #5D5D5D;
	
}
.noti-hour a span{
	font-size: 10pt;

}
.noti-hour a span:hover{
	text-decoration: none;
}

.novi-div-others-options{
	align-self: center;
}
.noti-div-elipsis{
	padding:5px;
	margin-right: 1px;
}
.noti-div-title{
	margin-left: 10px;
	padding: 5px;
}
.noti-div-subtitle{
	margin-left: 13px;
	padding: 5px;
}
.noti-title{
	color: white;
	font-size: 14pt;
}
.noti-subtitle{
	color: white;

	font-size: 12pt;
}

#card-ident {
	flex: 2;
	padding: 10px 15px 0;
}
#card-ident-1 {
	flex: 2;
	padding: 10px 15px 0;
}
.profile-name {
	color: #efefef;
    font-size: 19px;
    width: 185px;
    font-weight: bolder;
    margin-top: 15px;
}
.profile-name-1 {
	color: #efefef;
    font-size: 14px;
    width: 185px;
    margin-top: 10px;
}
.search-info .mt4 {
	margin-top: 0;
}
.profile-name-edit{
	
}


#ident-profile {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#ident-profile-1 {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#ident-profile-edit{

	display: flex;
    margin-top: 20px;
}
.invite-icon {
    background-color: #800080;
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 10px;
    margin-top: -8px;
    display: none;
}

.statistics-profile {
	display: inline-flex;
	flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
    padding: 10px;
    width: 30.5%;
}
.statistics-profile h2 {
	color: #efefef;
	font-size: 14px;
	display: inline-flex;
}
.inform-profile {
	margin-left: 5px;
	margin-top: 20px;
}
.inform-profile p, 
.inform-profile h2, 
.inform-profile h3 {
	color: #efefef;
    font-size: 14px;
}
.img-profile-user-married {
	position: relative;
	width: 100px;
	height: 125px;
	height: 100px;
	margin-top: 10px;
}
.page-married {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.page-married h1,
.page-married li,
.page-married a {
	font-size: 14px;
	color: #fff;
}
.identify-statist-profile-page {
	width: 250px;
}
.identify-statist-profile-page ul {
	display: inline-flex;
	padding-left: 20px;
}
.identify-statist-profile-page ul li {
	padding: 5px;
	font-size: 13px;
}
.identify-statist-profile-page ul li {
	padding: 5px;
}

.page-married h1 {
	text-align: center;
}
.page-married #see-page {
	font-size: 14px;
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 0;
}
.see-page-container {
	padding: 2px;
    width: 85px;
    border-radius: 5px;
	padding: 3px;
    width: 90px;
    border-radius: 5px;
    margin: auto;
    background-color: #800080;
    margin-bottom: 10px;
}
.see-page-container .fas {
	margin-left: 10px;
	font-size: 14px;
}
.img-profile-user-married img {
	width: 90px;
	height: 90px;
}
.stories-about-talking nav ul li:hover .identify-cover ~ img {
	transition: all 1s;
	width: 200%;
}
.img-profile-user-married h3 {
	font-size: 12px;
	color: #efefef;
	width: 100px;
	margin-top: 10px;
	text-align: center;
}
.img-profile-user-married > img {
	position: relative;
}
.menu-option-profile {
	display: inline-flex;
	font-size: 15px;
	padding-left: 10px;
	color: #efefef;
}
.option-profile-menu ul {
	/*width: 300px;*/
    margin: auto;
    padding-left: 0;
}
.option-profile-menu li {
	display: inline-flex;
    padding: 10px;
    position: relative;
    width: 30%;
}
.couple-profile-container {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}
.info-invite-relationship {
	width: 330px;
}
.info-invite-relationship p {
	color: #fff;
	font-size: 13px;
}
.edit-profile {
	padding: 8px;
	width: 100px;
	text-align: center;
	/*display: inline-flex;	
	background-color: var(--background-dark-input);*/
	color: #fff;
	border-radius: 5px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #606060;
    position: absolute;
    right: 10px;
    top: 15px;
}
.edit-profile1 {
	padding: 8px;
	width: 80px;
	text-align: center;
	display: inline-flex;
	color: #fff;
	border-radius: 5px;
	background-color:#606060;
	font-size: 12px;
}
.profile-follow {
    padding-bottom: 0px;
    margin-bottom: 2px;
    padding-left: 0;
}
.add-edit-profile {
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	bottom: -2px;
	right: 10px;
	background-color: #800080;
	cursor: pointer;
}
.btn-a-default {
	display: none;
	padding: 10px;
	border-radius: 5px;
	background-color: #800080;
	font-size: 13px;
	color: #fff;
	text-align: center;
}
.container-logout {
	width: 140px;
    margin: 20px auto 10px;
	width: 47%;
	width: 239px;
}
.label-input label,
.label-input .input-container {
	display: inline-flex;
}
.label-input .label-dark {
	color: #efefef;
	padding: 5px 10px;
	width: 95px;
	text-align: right;
}
.input-container {
	width: 300px;
	padding: 10px;
}
.input-container input[type="text"],
.input-container input[type="search"],
.input-container input[type="email"],
.input-container textarea {
	background-color: var(--background-dark-input);
    border: none;
    padding: 5px;
    width: 270px;
    color: #efefef;
    border-radius: 5px;
}
.input-container textarea {
	width: 270px;
	resize: none;
}
.input-container-radio label {
	color: #efefef;
	padding: 5px 10px;
}
.input-container-radio input[type="radio"] {
	margin-top: 10px;
}
.input-container-radio {
	width: 120px;
	display: inline-flex;
}
.btn-container .btn {
	background-color: #800080;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
	outline: none;
	border: none;
}
.card-btn {
	width: 150px;
	margin: 0 auto 10px;
}
.body-pop-up {
    z-index: 105;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--background-main);
}
.content-full-scroll {
    width: 100vw;
    height: 100vh;
}
.pop-up {
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* box-shadow: 0px 2px 8px 2px #ccc; */
    z-index: -1;
    transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.pop-up-component {
    position: relative;
    width: 360px;
    min-width: 290px;
    height: 400px;
    /*background-color: #18191a;*/
    border-radius: 10px;
    margin: 30px auto;
    overflow-y: auto;
    border: 1px solid #242526;
    box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 10%);
    -ms-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, .1);
    -moz-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, .1);
    -o-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, .1);
    -webkit-box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 10%);
}
.header-height {
    height: 50px;
}
.pop-up-component-header-default {
    width: 358px;
    border-bottom: 1px solid #ffffff0d;
}
.pop-up-component-header, 
.pop-up-component {
	background-color: #18191a;
}
.pop-up-component-header {
    position: fixed;
    height: 49px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*background-color: #18191a;*/
    z-index: 2;
}
.pop-up-component-header h1 {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    color: #fff;
}
.container-pop-up-component-header {
    width: 95%;
    height: 0px;
}
.cancel-box {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: #efefef;
    z-index: 2;
    cursor: pointer;
}
.cancel-box {
	background-color: #000;
	border: 1px solid #ffffff0d;
}
#cover-done {
    width: 60%;
    text-align: center;
    color: #fff;
    background-color: #800080;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}
#card-more-following {
	display: none;
}
.img-profile-page {
	position: relative;
	width: 130px;
	height: 130px;
}
.statistics-profile-page {
	
}
.statistics-profile-page-component {
	margin-right: 15px;
}
.statistics-profile-page-component h1,
.statistics-profile-page-component h2 {
	color: #fff;
	font-size: 13.5px;
	text-align: center;
}
.statistics-profile-page-component h1 {
	font-weight: bolder;
	font-size: 16px;
}
.statistics-profile-page-identify {
	margin-top: 15px;
}
.statistics-profile-page-identify h1, 
.statistics-profile-page-identify h2 {
	font-size: 13px;
	color: #fff;
}
.statistics-profile-page-identify h1 {
	font-size: 20px;
}
.follwing-btn {
	width: 250px;
	border-radius: 5px;
	padding: 8px;
	color: #fff;
	border: none;
	background-color: #800080;
}
.follwing-btn-container {
	margin: 15px auto 10px;
}
.card-page {
	margin: auto;
    flex-direction: column;
    border: none;
    width: 570px;
    background-color: transparent;
}
#main-container-profile {
	width: 580px;
	margin-top: 5px;
	/*background-color: #242526;*/
	border-radius: 10px;
}
#edit-page {
	width: 110px;
    padding: 5px;
    font-size: 13px;
    background: var(--background-dark-input);
    border: 1px solid #606060;
}
.edit-page-container {
	position: absolute;
	top: 10px;
	right: 10px;
}
.description-couple {
	width: 343px;
    margin-left: 145px;
}
.description-couple p {
	color: #ffff;
    font-size: 13px;
    width: 340px;
    padding: 10px;
    margin-bottom: 0;
}

	.suggest-slide-page {
	display: block;
}
.suggest-slide-page nav::-webkit-scrollbar {
	height: 3px;
}
.suggest-slide-page nav::-webkit-scrollbar-thumb {
	border-radius: 30px;
    background-color: #343a40;
}
.suggest-slide-page a.follow-suggest div {
	padding: 5px;
    background-color: #3490dc;
    border-radius: 5px;
    margin: 10px auto;
    color: #fff;
}
.add-post {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 86px;
	right: 10px;
	z-index: 3;
	background-color: #800080;
}
.add-post-label {
	cursor: pointer;
}
#card-profile-option {
	margin-top: 0px;
}
#card-profile-option .option-profile-menu li {
	width: 31%;
	position: relative;
}
#card-profile-option .option-profile-menu #ul-profile li {
	width: 23%;
}
#card-profile-option .option-profile-menu li:hover > a .icon-hover-option-profile{
	color: #800080;
}
#pop-up-component-create-post {
	width: 500px; 
	position: absolute;
	height: 500px;
}
#pop-up-component-create-post,
#pop-up-component-create-post .pop-up-component-header {
	
}
#pop-up-component-create-post .pop-up-component-header {
	width: 498px;
}
#add-post-container .page-identify {
	margin-top: 20px;
}
#add-post-container .page-identify h1 {
	font-size: 14px;
	color: #fff;
}
.content-details-post {
	width: 96%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.textarea-container {
	width: 100%;
}
.textarea-container textarea {
	width: 95%;
    height: 200px;
    background: transparent;
    border: none;
    color: #fff;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}
.textarea-container textarea::-webkit-scrollbar {
	width: 3px;
}
.textarea-container textarea::-webkit-scrollbar-thumb {
	border-radius: 30px;
    background-color: #343a40;
}
.add-file li {
	display: inline-flex;
	width: 40px;
	height: 40px;
	position: relative;
	border: 1px solid #ffffff0d;
	margin-right: 10px;
	cursor: pointer;
}
.add-file {
	width: 80%;
	margin: auto;
}
#main-profile {
	width: 600px;
	/*background-color: #242526;*/
	border-radius: 10px;
}
.filter-main-search-mobile {
	display: none;
}
#main-profile .card {
	background-color: transparent;
	border: none;
}
#main-profile .card-page-maried {
	background-color: #242526;
}
#statistics-profile-page-component-mobile {
	display: none;
}
.edit-page-container-mobile {
	display: none;
	width: 80%;
    margin: 10px auto;
}
.edit-page-container-mobile button {
	width: 100%;
    padding: 10px;
    font-size: 13px;
    background: transparent;
    border: 1px solid #606060;
}
.edit-profile-mobile {
	padding: 10px;
    width: 100%;
    text-align: center;
    /* display: inline-flex; */
    color: #fff;
    border-radius: 5px;
    background-color: var(--background-dark-input);
    font-size: 13px;
    text-align: center;
    border: 1px solid #606060;
    display: none;
    margin-top: 10px;
}
.fa-15 {
	font-size: 15px;
}
.options-profile-btn {
	display: flex;
	margin-left: 5px;
}
.options-profile-btn-center {
	display: block;
	margin: auto;
	width: 60%;
}
.options-profile-btn-center .edit-profile-mobile{
	background-color: #800080;
	border: none;
}
.options-profile-btn a {
	width: 100%;
}
.options-profile-btn .follwing-btn {
	padding: 8px;
}
.follwing-btn h2 {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
	padding: 4px;
}
.suggest-slide a div {
	padding: 4px;
    color: #fff;
    background-color: #3490dc;
    border-radius: 5px;
    margin-top: 9px;
}
.relationship-type {
	padding: 8px;
    border-radius: 5px;
    background-color: var(--background-dark-input);
    cursor: pointer;
    margin-left: 10px;
    padding-bottom: 2px;
    width: 200px;
}
.relationship-type-all {
	background-color: #242526;
	margin-left: 30px;
	width: 200px;
	display: none;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
}
.relationship-type-all label {
	width: 100%;
}
.relationship-type-all h2 {
	font-size: 13px;
	padding: 6px;
	color: #fff;
	padding-left: 10px;
	cursor: pointer;
}
.relationship-type h1,
.relationship-type i {
	display: inline-flex;
	color: #fff;
}
.relationship-type h1 {
	font-size: 13px;
	padding-left: 10px;
}
.relationship-type-container {
	margin-top: 15px;
    margin-bottom: 10px;
    height: 250px;
    overflow-y: auto;
    position: absolute;
}
.marriage-proposal {
	width: 80%;
    padding-left: 12px;
    text-align: center;
}
.cover-done {
	width: 60%;
    text-align: center;
    color: #fff;
    background-color: #800080;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}
.label-full {
	width: 100%;
}
.main-container {
	margin-top: 40px;
}
.comment-users {
	display: flex;
	justify-content: space-between;
	margin-left: 60px;
}
.user-identify-comment {
	padding-left: 10px;
    padding-top: 7px;
	width: 220px;
	display: flex;
}
.user-identify-comment.user-identify-comment-feed {
	width: 130px;
}
.user-identify-comment .profille-img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	position: relative;
	background-color: #343a40;
}
.user-identify-comment h2 {
	padding: 5px;
	font-size: 11px;
	color: #fff;
	padding-top: 10px;
	width: 85px;
}
.user-identify-comment h2, 
.user-identify-comment .profille-img {
	display: inline-flex;
}
.comment-user-comment {
	margin: 10px 10px 10px;
}
.comment-user-comment p {
	color: #fff;
    font-size: 12px;
    padding: 7px;
    display: inline-flex;
    width: auto;
    max-width: 170px;
    padding-top: 14px;
    background-color: #343a40;
    border-radius: 8px;
    padding-top: 5px;
}
.comment-user-comment.comment-user-comment-feed p {
    max-width: 127px;
    background-color: transparent;
}
.comment-user-container {
	display: flex;
}
.comment-user-container-react {
	padding-right: 10px;
}
.comment-user-container-react i {
	padding-top: 17px;
	cursor: pointer;
}
.comment-users-own {
	display: none;
	background-color: #3a3b3c;
    width: 310px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 60px;
}
.comment-users-own .user-identify-comment {
    width: 40px;
}
.img-profile-page-container {
	position: relative;
}
#my-pages .card {
	border: none;
}
.search-title{
	display:flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.search-info{
	display:flex;
	justify-content:flex-start;
	align-content:center;
	padding: 10px;
}
.profile-name-ident {
	margin-left: 10px;
	margin-top: 10px;
}
.post-page-container {
	margin: 15px 20px 20px;
}
.img-post {
	position: relative;
	width: 32%;
	height: 170px;
	display: inline-block;
	margin-top: -3px;

}
.img-post video {
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.liked {
	color: red;
}
.unliked {

}
.card-post p.untext {
	padding: 0;
}
.search-mobile {
	display: none;
	margin-top: 10px;
	width: 96%;
}
.description-couple h1,
.description-couple h2 {
	font-size: 13.5px;
	color: #fff;
    padding-left: 10px;
}
.mobile-user-name {
	display: none;
}
.comment-user-comment .user {
	font-size: 13px;
	color: #fff;
	margin-top: -5px;
}
.btn-message {
	position: relative;
	width: 60px;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	border: 1px solid #343a40;
	background: transparent;
}
#option-profile-no-own {
	width: 320px;
	margin: auto;
}
#main-search {
	
}
#main-search .card-p{
	padding: 0;
}
.user-identify-img {
	position: relative;
	width: 60px;
	height: 60px;
}
.description-invited {
	font-size: 13px;
	color: #fff;
}
.description-invited a {
	font-size: 15px;
	color: #fd09fd;
}
.details-invited {
	width: 240px;
}
.options-invited a {
	padding: 7px 15px;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
}
.options-invited .label-invited {
	width: 110px;
	background-color: #800080;
	border-radius: 5px;
}
.options-invited .label-invited label {
	width: 100%;
    padding: 0px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 13px;
}
.label-invited h2 {
	font-size: 14px;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
}
.terms-use-alert {
	color: #fd09fd;
	font-size: 13px;
	width: 100%;
	text-align: center;
}
.alert-accept {
	color: #fff;
	padding: 5px;
	font-size: 13px;
}
.options-invited .accept {
	width: 100%;
    background-color: #800080;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #fff;
	border-radius: 5px;
    font-size: 13px;
}
.options-invited .denied {
	border: 1px solid #343a40;
}
.options-invited {
	margin: 5px;
}
.send-invited-relationship {
	padding-left: 15px;
}
#table_search_mobile {
	width: 290px;
}
#main-search .card-flex {
	padding-left: 10px;
}
#cover-done-marriage button {
	padding: 10px;
    font-size: 14px;
    background: transparent;
    color: #fff;
    border: none;
    width: 100%;
}
.couple-profile-img {
	position: absolute;
	width: 75px;
	height: 75px;
}
.couple-2 {
	top: 20px;
    left: 30px;
    border: 2px solid #000;
}
.couple-2 img {
    border: 2px solid #fff;
}
#main-container-relationship .options-invited .label-invited {
    width: 160px;
}
#main-container-relationship .card {
    border-radius: 10px;
}
.alert-proof {
	font-size: 12px;
	color: #fff;
	padding: 10px;
}
.couple-container {
	position: relative;
}
#btn_nao_seguir {
	background: transparent;
	border: 1px solid #343a40;
}
.container-search-home {
	display: none;
	width: 300px;
	height: 300px;
	overflow-y: hidden;
	border-radius: 10px;
	position: absolute;
	z-index: 1002;
	top: 0px;
	left: 20px;
	background-color: #3a3b3c;
}
.search-id-container {
	height: 210px;
	overflow-y: auto;
}
.filter-main-search-mobile {
	background-color: #3a3b3c;
	overflow-x: auto;
}
.filter-main-search-mobile ul {
	width: 820px;
	margin-bottom: 0;
	padding: 0;
}
.filter-main-search-mobile li a {
	color: #fff;
	padding: 10px;
}
.filter-main-search-mobile li {
	display: inline-block;
	padding: 10px;
	font-size: 13px;
}
#main-direct {
	display: block;
	width: 900px;
	width: 100vw;
	padding: 10px;
	/*background-color: #242526;
	border-radius: 10px;*/
	height: 500px;
	margin-top: -15px;
}
.container-img {
	position: relative;
	width: 36px;
	height: 36px;
}
.nav-menu-chat-component-user {
	
}
.nav-menu-chat-component-user h1 {
	color: #fff;
	margin-top: 10px;
	font-size: 13px;
}
.search-container-chat .input-search {
	width: 98%;
	margin-left: 0;
}
.search-container-chat .input-search input {
	width: 88%;
}
.search-container-chat {
	width: 280px;
	margin-left: 10px;
	margin-right: 20px;
}
.nav-menu-chat {
	margin-top: 10px;
	height: 370px;
	overflow-y: auto;
}
.nav-menu-chat ul {
	
}
.nav-menu-chat ul li {
	padding: 5px;
}
.chat {	
	width: 300px;
	height: 100%;
	padding-right: 15px;
	border-right: 1px solid #343a40;
}
.container-message {
	position: relative;
	width: 600px;
	margin-left: 30px;
	padding: 10px;
}
.container-message header {

}
.body-message .container-img {
	position: relative;
	width: 25px;
	height: 25px;
	margin-top: 10px;
}
.message-body {
	width: 235px;
    border-radius: 10px;
    background-color: #242526;
    display: block;
}
.message-body p {
	color: #fff;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 0;
	word-break: break-all;
}
.body-message {
	display: block;
    width: 100%;
    height: 365px;
    overflow: hidden;
    overflow-y: auto;
}
.other-user {
	margin-top: 10px;
}
.other-user,
.own-user {
	width: 60%;
}
.other-user .message-body {
	background-color: #3490dc;
}
.search-info .page-cover {
	background-color: #343a40;
}
.play_button {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 2;
}
.notify-icon {
	position: relative;
}
.number-notification {
	position: absolute;
	width: 20px;
	top: -10px;
	right: -10px;
	height: 20px;
	background-color: red;
	z-index: 3;
}
.number-notification span {
	font-size: 12px;
	color: #fff;
	width: 100%;
	text-align: center;
}